{"openapi":"3.1.0","info":{"title":"Jina Search Foundation API","description":"Best-in-class embeddings, rerankers and document models for multilingual and multimodal search.\n\n## Capabilities\n\n- **Text embeddings** — dense vectors for semantic search, similarity, clustering and classification, in 100+ languages.\n- **Multimodal embeddings** — images, video, audio and PDFs embedded into the same space as text, so a query in one modality retrieves another.\n- **Reranking** — score a query against a candidate set and reorder it; more accurate than embedding similarity, and the usual second stage after it.\n- **Document OCR** — read a page image and return its content as text or markdown, with tables and layout preserved, over the OpenAI chat completions schema.\n- **Batch embeddings** — the same embedding models over JSONL, asynchronously, for workloads too large to send inline.\n\n## Authentication\n\nEvery endpoint except `GET /v1/models` requires a key:\n\n```\nAuthorization: Bearer jina_YOUR_API_KEY\n```\n\nGet one at [jina.ai/api-dashboard/key-manager](https://jina.ai/api-dashboard/key-manager).\n\n## Rate limits\n\nRequests per minute and tokens per minute. Anything over a limit answers `429`.\n\n| Endpoint | Free | Paid | Premium |\n|---|---|---|---|\n| `/v1/embeddings` | 500 RPM · 1M TPM | 500 RPM · 10M TPM | 5,000 RPM · 100M TPM |\n| `/v1/rerank` | 500 RPM · 1M TPM | 500 RPM · 10M TPM | 5,000 RPM · 100M TPM |\n| `/v1/chat/completions` | 100 RPM · 500K TPM | 100 RPM · 5M TPM | 1,000 RPM · 50M TPM |\n\n## Errors\n\nFailures carry a `detail`, a `code` from the table below and the `request_id` to quote in a support request. `/v1/chat/completions` is the exception: it answers in OpenAI's error envelope, with the same code inside it.\n\n| Code | Status | Meaning |\n|---|---|---|\n| `INPUT_INVALID_LABELS` | 400 | Invalid training labels |\n| `INPUT_LABEL_LIMIT_EXCEEDED` | 400 | Label limit exceeded: <current> labels provided, maximum <limit> allowed for your plan |\n| `INPUT_MODEL_NOT_FOUND` | 400 | Model '<model>' not found |\n| `INPUT_TOKEN_LIMIT_EXCEEDED` | 400 | Input text exceeds the model's maximum of <max_tokens> tokens |\n| `AUTH_INVALID_API_KEY` | 401 | Invalid API key |\n| `AUTH_INVALID_FORMAT` | 401 | Invalid authorization format |\n| `AUTH_MISSING_API_KEY` | 401 | Authentication required |\n| `AUTHZ_INSUFFICIENT_BALANCE` | 403 | Insufficient account balance |\n| `AUTHZ_RESOURCE_LIMIT_EXCEEDED` | 403 | Resource limit exceeded for your plan |\n| `RESOURCE_NOT_FOUND` | 404 | <resource_type> '<resource_id>' not found or access denied |\n| `CONFLICT_RESOURCE_BUSY` | 409 | <resource_type> '<resource_id>' is currently being modified |\n| `RATE_CONCURRENCY_LIMIT_EXCEEDED` | 429 | Concurrency limit exceeded: <current>/<limit> concurrent requests |\n| `RATE_IP_LIMIT_EXCEEDED` | 429 | IP rate limit exceeded |\n| `RATE_REQUEST_LIMIT_EXCEEDED` | 429 | Request rate limit exceeded: <current>/<limit> requests per minute |\n| `RATE_TOKEN_LIMIT_EXCEEDED` | 429 | Token rate limit exceeded: <current>/<limit> tokens per minute |\n| `INTERNAL_ERROR` | 500 | An unexpected error occurred |\n| `SERVICE_UNAVAILABLE` | 503 | Service temporarily unavailable |\n| `SERVICE_TIMEOUT` | 504 | Service request timed out |","version":"2026.10.09.2011"},"servers":[{"url":"https://api.jina.ai"}],"paths":{"/v1/embeddings":{"post":{"tags":["Search Foundation Models"],"summary":"Embeddings","description":"Embed text, images, audio, video or PDFs as dense vectors.\n\n`model` selects the request shape as well as the model: each one below\nlists the inputs and options it accepts.","operationId":"embeddings_v1_embeddings_post","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/EmbeddingsV2Request"},{"$ref":"#/components/schemas/EmbeddingsV3Request"},{"$ref":"#/components/schemas/EmbeddingsV4Request"},{"$ref":"#/components/schemas/EmbeddingsV5Request"},{"$ref":"#/components/schemas/CodeEmbeddings500MRequest"},{"$ref":"#/components/schemas/CodeEmbeddings1500MRequest"},{"$ref":"#/components/schemas/ClipV1Request"},{"$ref":"#/components/schemas/ClipV2Request"},{"$ref":"#/components/schemas/ColbertV1Request"},{"$ref":"#/components/schemas/ColbertV2Request"}],"title":"Embedding Request","discriminator":{"propertyName":"model","mapping":{"jina-embeddings-v2-base-en":"#/components/schemas/EmbeddingsV2Request","jina-embeddings-v2-base-zh":"#/components/schemas/EmbeddingsV2Request","jina-embeddings-v2-base-de":"#/components/schemas/EmbeddingsV2Request","jina-embeddings-v2-base-es":"#/components/schemas/EmbeddingsV2Request","jina-embeddings-v2-base-code":"#/components/schemas/EmbeddingsV2Request","jina-embeddings-v3":"#/components/schemas/EmbeddingsV3Request","jina-embeddings-v4":"#/components/schemas/EmbeddingsV4Request","jina-embeddings-v5-text-nano":"#/components/schemas/EmbeddingsV5Request","jina-embeddings-v5-text-small":"#/components/schemas/EmbeddingsV5Request","jina-embeddings-v5-omni-small":"#/components/schemas/EmbeddingsV5Request","jina-embeddings-v5-omni-nano":"#/components/schemas/EmbeddingsV5Request","jina-code-embeddings-0.5b":"#/components/schemas/CodeEmbeddings500MRequest","jina-code-embeddings-1.5b":"#/components/schemas/CodeEmbeddings1500MRequest","jina-clip-v1":"#/components/schemas/ClipV1Request","jina-clip-v2":"#/components/schemas/ClipV2Request","jina-colbert-v1-en":"#/components/schemas/ColbertV1Request","jina-colbert-v2":"#/components/schemas/ColbertV2Request"}}}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EmbeddingResponse"}}}},"400":{"description":"Bad Request: `INPUT_INVALID_LABELS`, `INPUT_LABEL_LIMIT_EXCEEDED`, `INPUT_MODEL_NOT_FOUND`, `INPUT_TOKEN_LIMIT_EXCEEDED`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized: `AUTH_INVALID_API_KEY`, `AUTH_INVALID_FORMAT`, `AUTH_MISSING_API_KEY`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden: `AUTHZ_INSUFFICIENT_BALANCE`, `AUTHZ_RESOURCE_LIMIT_EXCEEDED`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found: `RESOURCE_NOT_FOUND`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict: `CONFLICT_RESOURCE_BUSY`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request body failed schema validation. `errors` names each field.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Too Many Requests: `RATE_CONCURRENCY_LIMIT_EXCEEDED`, `RATE_IP_LIMIT_EXCEEDED`, `RATE_REQUEST_LIMIT_EXCEEDED`, `RATE_TOKEN_LIMIT_EXCEEDED`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error: `INTERNAL_ERROR`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"Service Unavailable: `SERVICE_UNAVAILABLE`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"504":{"description":"Gateway Timeout: `SERVICE_TIMEOUT`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"HTTPBearer":[]}]}},"/v1/rerank":{"post":{"tags":["Search Foundation Models"],"summary":"Rerank","description":"Score documents against a query and return them reordered.\n\nResults come back sorted by `relevance_score`, each carrying the index\nit held in the request so the caller can map them back.","operationId":"rerank_v1_rerank_post","requestBody":{"content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/TextRerankerRequest"},{"$ref":"#/components/schemas/RerankerM0Request"},{"$ref":"#/components/schemas/RerankerV3Request"}],"title":"Reranking Request","discriminator":{"propertyName":"model","mapping":{"jina-reranker-v2-base-multilingual":"#/components/schemas/TextRerankerRequest","jina-reranker-v1-tiny-en":"#/components/schemas/TextRerankerRequest","jina-reranker-v1-turbo-en":"#/components/schemas/TextRerankerRequest","jina-reranker-v1-base-en":"#/components/schemas/TextRerankerRequest","jina-colbert-v1-en":"#/components/schemas/TextRerankerRequest","jina-colbert-v2":"#/components/schemas/TextRerankerRequest","jina-reranker-m0":"#/components/schemas/RerankerM0Request","jina-reranker-v3":"#/components/schemas/RerankerV3Request","jina-reranker-v3.5":"#/components/schemas/RerankerV3Request"}}}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RerankingResponse"}}}},"400":{"description":"Bad Request: `INPUT_INVALID_LABELS`, `INPUT_LABEL_LIMIT_EXCEEDED`, `INPUT_MODEL_NOT_FOUND`, `INPUT_TOKEN_LIMIT_EXCEEDED`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized: `AUTH_INVALID_API_KEY`, `AUTH_INVALID_FORMAT`, `AUTH_MISSING_API_KEY`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden: `AUTHZ_INSUFFICIENT_BALANCE`, `AUTHZ_RESOURCE_LIMIT_EXCEEDED`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found: `RESOURCE_NOT_FOUND`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict: `CONFLICT_RESOURCE_BUSY`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request body failed schema validation. `errors` names each field.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Too Many Requests: `RATE_CONCURRENCY_LIMIT_EXCEEDED`, `RATE_IP_LIMIT_EXCEEDED`, `RATE_REQUEST_LIMIT_EXCEEDED`, `RATE_TOKEN_LIMIT_EXCEEDED`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error: `INTERNAL_ERROR`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"Service Unavailable: `SERVICE_UNAVAILABLE`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"504":{"description":"Gateway Timeout: `SERVICE_TIMEOUT`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"HTTPBearer":[]}]}},"/v1/models":{"get":{"tags":["Model List"],"summary":"List Models","description":"Every model in the catalogue, with its modalities, limits and price.","operationId":"list_models_v1_models_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelListResponse"}}}},"400":{"description":"Bad Request: `INPUT_INVALID_LABELS`, `INPUT_LABEL_LIMIT_EXCEEDED`, `INPUT_MODEL_NOT_FOUND`, `INPUT_TOKEN_LIMIT_EXCEEDED`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized: `AUTH_INVALID_API_KEY`, `AUTH_INVALID_FORMAT`, `AUTH_MISSING_API_KEY`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden: `AUTHZ_INSUFFICIENT_BALANCE`, `AUTHZ_RESOURCE_LIMIT_EXCEEDED`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found: `RESOURCE_NOT_FOUND`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict: `CONFLICT_RESOURCE_BUSY`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request body failed schema validation. `errors` names each field.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Too Many Requests: `RATE_CONCURRENCY_LIMIT_EXCEEDED`, `RATE_IP_LIMIT_EXCEEDED`, `RATE_REQUEST_LIMIT_EXCEEDED`, `RATE_TOKEN_LIMIT_EXCEEDED`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error: `INTERNAL_ERROR`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"Service Unavailable: `SERVICE_UNAVAILABLE`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"504":{"description":"Gateway Timeout: `SERVICE_TIMEOUT`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/models/{model_id}":{"get":{"tags":["Model List"],"summary":"Get Model","description":"One model by id, in full (`jina-ai/jina-embeddings-v3`) or short\n(`jina-embeddings-v3`) form.","operationId":"get_model_v1_models__model_id__get","parameters":[{"name":"model_id","in":"path","required":true,"schema":{"type":"string","title":"Model Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModelInfo"}}}},"400":{"description":"Bad Request: `INPUT_INVALID_LABELS`, `INPUT_LABEL_LIMIT_EXCEEDED`, `INPUT_MODEL_NOT_FOUND`, `INPUT_TOKEN_LIMIT_EXCEEDED`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized: `AUTH_INVALID_API_KEY`, `AUTH_INVALID_FORMAT`, `AUTH_MISSING_API_KEY`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden: `AUTHZ_INSUFFICIENT_BALANCE`, `AUTHZ_RESOURCE_LIMIT_EXCEEDED`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found: `RESOURCE_NOT_FOUND`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict: `CONFLICT_RESOURCE_BUSY`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request body failed schema validation. `errors` names each field.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Too Many Requests: `RATE_CONCURRENCY_LIMIT_EXCEEDED`, `RATE_IP_LIMIT_EXCEEDED`, `RATE_REQUEST_LIMIT_EXCEEDED`, `RATE_TOKEN_LIMIT_EXCEEDED`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error: `INTERNAL_ERROR`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"Service Unavailable: `SERVICE_UNAVAILABLE`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"504":{"description":"Gateway Timeout: `SERVICE_TIMEOUT`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/chat/completions":{"post":{"tags":["Generative Models"],"summary":"Chat Completions","description":"Transcribe a document image. Send the page as an `image_url` content part and the reply is its text; `response_format` with a `json_schema` constrains that to a schema instead.","operationId":"chat_completions_v1_chat_completions_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChatCompletionRequest"}}},"required":true},"responses":{"200":{"description":"An OpenAI chat completion, or a stream of `chat.completion.chunk` events when `stream` is true.","content":{"application/json":{"schema":{}}}},"400":{"description":"Bad Request: `INPUT_INVALID_LABELS`, `INPUT_LABEL_LIMIT_EXCEEDED`, `INPUT_MODEL_NOT_FOUND`, `INPUT_TOKEN_LIMIT_EXCEEDED`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpenAIErrorResponse"}}}},"401":{"description":"Unauthorized: `AUTH_INVALID_API_KEY`, `AUTH_INVALID_FORMAT`, `AUTH_MISSING_API_KEY`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden: `AUTHZ_INSUFFICIENT_BALANCE`, `AUTHZ_RESOURCE_LIMIT_EXCEEDED`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found: `RESOURCE_NOT_FOUND`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpenAIErrorResponse"}}}},"409":{"description":"Conflict: `CONFLICT_RESOURCE_BUSY`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpenAIErrorResponse"}}}},"422":{"description":"The request body failed schema validation. `errors` names each field.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Too Many Requests: `RATE_CONCURRENCY_LIMIT_EXCEEDED`, `RATE_IP_LIMIT_EXCEEDED`, `RATE_REQUEST_LIMIT_EXCEEDED`, `RATE_TOKEN_LIMIT_EXCEEDED`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error: `INTERNAL_ERROR`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpenAIErrorResponse"}}}},"503":{"description":"Service Unavailable: `SERVICE_UNAVAILABLE`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpenAIErrorResponse"}}}},"504":{"description":"Gateway Timeout: `SERVICE_TIMEOUT`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpenAIErrorResponse"}}}}},"security":[{"HTTPBearer":[]}]}},"/v1/batch/embeddings":{"post":{"tags":["Batch Embeddings"],"summary":"Create a batch embedding job","description":"Submit a batch of texts for asynchronous embedding processing.","operationId":"create_batch_job_v1_batch_embeddings_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchEmbeddingRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchStatus"}}}},"400":{"description":"Bad Request: `INPUT_INVALID_LABELS`, `INPUT_LABEL_LIMIT_EXCEEDED`, `INPUT_MODEL_NOT_FOUND`, `INPUT_TOKEN_LIMIT_EXCEEDED`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized: `AUTH_INVALID_API_KEY`, `AUTH_INVALID_FORMAT`, `AUTH_MISSING_API_KEY`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden: `AUTHZ_INSUFFICIENT_BALANCE`, `AUTHZ_RESOURCE_LIMIT_EXCEEDED`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found: `RESOURCE_NOT_FOUND`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict: `CONFLICT_RESOURCE_BUSY`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request body failed schema validation. `errors` names each field.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Too Many Requests: `RATE_CONCURRENCY_LIMIT_EXCEEDED`, `RATE_IP_LIMIT_EXCEEDED`, `RATE_REQUEST_LIMIT_EXCEEDED`, `RATE_TOKEN_LIMIT_EXCEEDED`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error: `INTERNAL_ERROR`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"Service Unavailable: `SERVICE_UNAVAILABLE`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"504":{"description":"Gateway Timeout: `SERVICE_TIMEOUT`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}},"security":[{"HTTPBearer":[]}]}},"/v1/batch/{batch_id}":{"get":{"tags":["Batch Embeddings"],"summary":"Get batch job status","description":"Retrieve the status of a batch embedding job.","operationId":"get_batch_status_v1_batch__batch_id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"batch_id","in":"path","required":true,"schema":{"type":"string","title":"Batch Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchStatus"}}}},"400":{"description":"Bad Request: `INPUT_INVALID_LABELS`, `INPUT_LABEL_LIMIT_EXCEEDED`, `INPUT_MODEL_NOT_FOUND`, `INPUT_TOKEN_LIMIT_EXCEEDED`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized: `AUTH_INVALID_API_KEY`, `AUTH_INVALID_FORMAT`, `AUTH_MISSING_API_KEY`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden: `AUTHZ_INSUFFICIENT_BALANCE`, `AUTHZ_RESOURCE_LIMIT_EXCEEDED`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found: `RESOURCE_NOT_FOUND`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict: `CONFLICT_RESOURCE_BUSY`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request body failed schema validation. `errors` names each field.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Too Many Requests: `RATE_CONCURRENCY_LIMIT_EXCEEDED`, `RATE_IP_LIMIT_EXCEEDED`, `RATE_REQUEST_LIMIT_EXCEEDED`, `RATE_TOKEN_LIMIT_EXCEEDED`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error: `INTERNAL_ERROR`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"Service Unavailable: `SERVICE_UNAVAILABLE`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"504":{"description":"Gateway Timeout: `SERVICE_TIMEOUT`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}},"delete":{"tags":["Batch Embeddings"],"summary":"Cancel a batch job","description":"Cancel a pending or processing batch job.","operationId":"cancel_batch_job_v1_batch__batch_id__delete","security":[{"HTTPBearer":[]}],"parameters":[{"name":"batch_id","in":"path","required":true,"schema":{"type":"string","title":"Batch Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchStatus"}}}},"400":{"description":"Bad Request: `INPUT_INVALID_LABELS`, `INPUT_LABEL_LIMIT_EXCEEDED`, `INPUT_MODEL_NOT_FOUND`, `INPUT_TOKEN_LIMIT_EXCEEDED`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized: `AUTH_INVALID_API_KEY`, `AUTH_INVALID_FORMAT`, `AUTH_MISSING_API_KEY`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden: `AUTHZ_INSUFFICIENT_BALANCE`, `AUTHZ_RESOURCE_LIMIT_EXCEEDED`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found: `RESOURCE_NOT_FOUND`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict: `CONFLICT_RESOURCE_BUSY`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request body failed schema validation. `errors` names each field.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Too Many Requests: `RATE_CONCURRENCY_LIMIT_EXCEEDED`, `RATE_IP_LIMIT_EXCEEDED`, `RATE_REQUEST_LIMIT_EXCEEDED`, `RATE_TOKEN_LIMIT_EXCEEDED`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error: `INTERNAL_ERROR`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"Service Unavailable: `SERVICE_UNAVAILABLE`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"504":{"description":"Gateway Timeout: `SERVICE_TIMEOUT`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/batches":{"get":{"tags":["Batch Embeddings"],"summary":"List batch jobs","description":"List recent batch jobs for the authenticated user.","operationId":"list_batch_jobs_v1_batches_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":20,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/BatchStatus"},"title":"Response List Batch Jobs V1 Batches Get"}}}},"400":{"description":"Bad Request: `INPUT_INVALID_LABELS`, `INPUT_LABEL_LIMIT_EXCEEDED`, `INPUT_MODEL_NOT_FOUND`, `INPUT_TOKEN_LIMIT_EXCEEDED`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized: `AUTH_INVALID_API_KEY`, `AUTH_INVALID_FORMAT`, `AUTH_MISSING_API_KEY`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden: `AUTHZ_INSUFFICIENT_BALANCE`, `AUTHZ_RESOURCE_LIMIT_EXCEEDED`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found: `RESOURCE_NOT_FOUND`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict: `CONFLICT_RESOURCE_BUSY`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request body failed schema validation. `errors` names each field.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Too Many Requests: `RATE_CONCURRENCY_LIMIT_EXCEEDED`, `RATE_IP_LIMIT_EXCEEDED`, `RATE_REQUEST_LIMIT_EXCEEDED`, `RATE_TOKEN_LIMIT_EXCEEDED`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error: `INTERNAL_ERROR`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"Service Unavailable: `SERVICE_UNAVAILABLE`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"504":{"description":"Gateway Timeout: `SERVICE_TIMEOUT`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/batch/{batch_id}/output":{"get":{"tags":["Batch Embeddings"],"summary":"Download batch job output","description":"Stream the output JSONL file for a completed batch job.","operationId":"download_batch_output_v1_batch__batch_id__output_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"batch_id","in":"path","required":true,"schema":{"type":"string","title":"Batch Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Bad Request: `INPUT_INVALID_LABELS`, `INPUT_LABEL_LIMIT_EXCEEDED`, `INPUT_MODEL_NOT_FOUND`, `INPUT_TOKEN_LIMIT_EXCEEDED`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized: `AUTH_INVALID_API_KEY`, `AUTH_INVALID_FORMAT`, `AUTH_MISSING_API_KEY`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden: `AUTHZ_INSUFFICIENT_BALANCE`, `AUTHZ_RESOURCE_LIMIT_EXCEEDED`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found: `RESOURCE_NOT_FOUND`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict: `CONFLICT_RESOURCE_BUSY`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request body failed schema validation. `errors` names each field.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Too Many Requests: `RATE_CONCURRENCY_LIMIT_EXCEEDED`, `RATE_IP_LIMIT_EXCEEDED`, `RATE_REQUEST_LIMIT_EXCEEDED`, `RATE_TOKEN_LIMIT_EXCEEDED`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error: `INTERNAL_ERROR`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"Service Unavailable: `SERVICE_UNAVAILABLE`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"504":{"description":"Gateway Timeout: `SERVICE_TIMEOUT`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}},"/v1/batch/{batch_id}/errors":{"get":{"tags":["Batch Embeddings"],"summary":"Download batch job error file","description":"Stream the error JSONL file for a completed batch job.","operationId":"download_batch_errors_v1_batch__batch_id__errors_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"batch_id","in":"path","required":true,"schema":{"type":"string","title":"Batch Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"400":{"description":"Bad Request: `INPUT_INVALID_LABELS`, `INPUT_LABEL_LIMIT_EXCEEDED`, `INPUT_MODEL_NOT_FOUND`, `INPUT_TOKEN_LIMIT_EXCEEDED`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"401":{"description":"Unauthorized: `AUTH_INVALID_API_KEY`, `AUTH_INVALID_FORMAT`, `AUTH_MISSING_API_KEY`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"403":{"description":"Forbidden: `AUTHZ_INSUFFICIENT_BALANCE`, `AUTHZ_RESOURCE_LIMIT_EXCEEDED`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"404":{"description":"Not Found: `RESOURCE_NOT_FOUND`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"409":{"description":"Conflict: `CONFLICT_RESOURCE_BUSY`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"422":{"description":"The request body failed schema validation. `errors` names each field.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"429":{"description":"Too Many Requests: `RATE_CONCURRENCY_LIMIT_EXCEEDED`, `RATE_IP_LIMIT_EXCEEDED`, `RATE_REQUEST_LIMIT_EXCEEDED`, `RATE_TOKEN_LIMIT_EXCEEDED`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"500":{"description":"Internal Server Error: `INTERNAL_ERROR`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"503":{"description":"Service Unavailable: `SERVICE_UNAVAILABLE`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}},"504":{"description":"Gateway Timeout: `SERVICE_TIMEOUT`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"AudioDoc":{"properties":{"audio":{"type":"string","title":"Audio","description":"Audio as a URL or base64-encoded string."}},"type":"object","required":["audio"],"title":"AudioDoc"},"BaseUsage":{"properties":{"total_tokens":{"type":"integer","title":"Total Tokens","description":"Total number of tokens processed."}},"type":"object","required":["total_tokens"],"title":"BaseUsage"},"BatchEmbeddingRequest":{"properties":{"model":{"type":"string","enum":["jina-embeddings-v5-text-nano","jina-embeddings-v5-text-small"],"title":"Model","description":"The embedding model to use for batch processing."},"input_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Input Url","description":"URL to input JSONL file (GCS, S3, or HTTP). Either input_url or input must be provided."},"input":{"anyOf":[{"items":{"additionalProperties":true,"type":"object"},"type":"array"},{"type":"null"}],"title":"Input","description":"Inline JSONL lines for small batches. Either input_url or input must be provided."},"task":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Task","description":"Task optimization: retrieval, text-matching, clustering, or classification.","default":"text-matching"},"dimensions":{"anyOf":[{"type":"integer","maximum":1024.0,"exclusiveMinimum":0.0},{"type":"null"}],"title":"Dimensions","description":"Number of dimensions for output embeddings (1-1024)."},"normalized":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Normalized","description":"If true (default), embeddings are L2-normalized to unit length.","default":true},"webhook_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Webhook Url","description":"URL to POST notification when job completes."}},"type":"object","required":["model"],"title":"BatchEmbeddingRequest","description":"Request to create a batch embedding job.","examples":[{"dimensions":512,"input_url":"gs://my-bucket/inputs.jsonl","model":"jina-embeddings-v5-text-small","task":"retrieval"},{"input":[{"body":{"input":"Hello world"},"custom_id":"req-1"},{"body":{"input":"Batch embeddings"},"custom_id":"req-2"}],"model":"jina-embeddings-v5-text-nano","task":"text-matching"}]},"BatchStats":{"properties":{"total":{"type":"integer","title":"Total","description":"Total number of input lines."},"completed":{"type":"integer","title":"Completed","description":"Number of successfully processed lines.","default":0},"failed":{"type":"integer","title":"Failed","description":"Number of failed lines.","default":0},"total_tokens":{"type":"integer","title":"Total Tokens","description":"Total tokens consumed across all processed lines.","default":0}},"type":"object","required":["total"],"title":"BatchStats","description":"Statistics for a batch job."},"BatchStatus":{"properties":{"batch_id":{"type":"string","title":"Batch Id","description":"Unique identifier for the batch job."},"status":{"type":"string","enum":["pending","processing","completed","failed","expired","cancelled"],"title":"Status","description":"Current status of the batch job."},"model":{"type":"string","title":"Model","description":"The model used for embedding."},"created_at":{"type":"string","title":"Created At","description":"ISO 8601 timestamp when job was created."},"completed_at":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Completed At","description":"ISO 8601 timestamp when job completed (if finished)."},"expires_at":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Expires At","description":"ISO 8601 timestamp when output URL expires (created_at + 24h)."},"output_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Output Url","description":"Signed URL to download output JSONL (24h expiry)."},"error_file_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Error File Url","description":"URL to download error JSONL for failed lines."},"error":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Error","description":"Error message if job failed."},"stats":{"anyOf":[{"$ref":"#/components/schemas/BatchStats"},{"type":"null"}],"description":"Processing statistics."}},"type":"object","required":["batch_id","status","model","created_at"],"title":"BatchStatus","description":"Status of a batch embedding job.","examples":[{"batch_id":"batch_abc123","completed_at":"2024-01-15T10:35:00Z","created_at":"2024-01-15T10:30:00Z","expires_at":"2024-01-16T10:30:00Z","model":"jina-embeddings-v5-text-small","output_url":"https://storage.googleapis.com/...","stats":{"completed":998,"failed":2,"total":1000},"status":"completed"}]},"ChatCompletionRequest":{"properties":{"messages":{"items":{"$ref":"#/components/schemas/ChatMessage"},"type":"array","minItems":1,"title":"Messages"},"model":{"type":"string","const":"jina-ocr-v1","title":"Model","description":"The model to use."},"stream":{"type":"boolean","title":"Stream","default":false},"stream_options":{"anyOf":[{"$ref":"#/components/schemas/StreamOptions"},{"type":"null"}]},"max_completion_tokens":{"anyOf":[{"type":"integer","minimum":1.0},{"type":"null"}],"title":"Max Completion Tokens"},"temperature":{"anyOf":[{"type":"number","maximum":2.0,"minimum":0.0},{"type":"null"}],"title":"Temperature"},"top_p":{"anyOf":[{"type":"number","maximum":1.0,"minimum":0.0},{"type":"null"}],"title":"Top P"},"presence_penalty":{"anyOf":[{"type":"number","maximum":2.0,"minimum":-2.0},{"type":"null"}],"title":"Presence Penalty"},"frequency_penalty":{"anyOf":[{"type":"number","maximum":2.0,"minimum":-2.0},{"type":"null"}],"title":"Frequency Penalty"},"stop":{"anyOf":[{"type":"string"},{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Stop"},"seed":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Seed"},"logprobs":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Logprobs"},"top_logprobs":{"anyOf":[{"type":"integer","maximum":20.0,"minimum":0.0},{"type":"null"}],"title":"Top Logprobs"},"logit_bias":{"anyOf":[{"additionalProperties":{"type":"number"},"type":"object"},{"type":"null"}],"title":"Logit Bias"},"response_format":{"anyOf":[{"oneOf":[{"$ref":"#/components/schemas/ResponseFormatText"},{"$ref":"#/components/schemas/ResponseFormatJSONObject"},{"$ref":"#/components/schemas/ResponseFormatJSONSchema"}],"discriminator":{"propertyName":"type","mapping":{"json_object":"#/components/schemas/ResponseFormatJSONObject","json_schema":"#/components/schemas/ResponseFormatJSONSchema","text":"#/components/schemas/ResponseFormatText"}}},{"type":"null"}],"title":"Response Format"}},"type":"object","required":["messages","model"],"title":"ChatCompletionRequest","description":"The public request body. Every field here reaches the engine."},"ChatMessage":{"properties":{"role":{"type":"string","enum":["system","developer","user","assistant"],"title":"Role"},"content":{"anyOf":[{"type":"string"},{"items":{"oneOf":[{"$ref":"#/components/schemas/TextContentPart"},{"$ref":"#/components/schemas/ImageContentPart"}],"discriminator":{"propertyName":"type","mapping":{"image_url":"#/components/schemas/ImageContentPart","text":"#/components/schemas/TextContentPart"}}},"type":"array"},{"type":"null"}],"title":"Content"}},"type":"object","required":["role"],"title":"ChatMessage"},"ClipV1Request":{"properties":{"embedding_type":{"anyOf":[{"type":"string","enum":["float","base64","binary","ubinary"]},{"items":{"type":"string","enum":["float","base64","binary","ubinary"]},"type":"array"},{"type":"null"}],"title":"Embedding Type","description":"Output encoding format: `float`, `base64`, `binary`, `ubinary`, or a list of these."},"normalized":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Normalized","description":"If true (default), embeddings are L2-normalized to unit length.","default":true},"truncate":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Truncate","description":"If true, truncates input exceeding the model's max token limit instead of returning an error.","default":false},"model":{"type":"string","const":"jina-clip-v1","title":"Model","description":"The CLIP model to use."},"input":{"anyOf":[{"type":"string"},{"$ref":"#/components/schemas/TextDoc"},{"$ref":"#/components/schemas/ImageDoc"},{"$ref":"#/components/schemas/PDFDoc"},{"items":{"anyOf":[{"type":"string"},{"$ref":"#/components/schemas/TextDoc"},{"$ref":"#/components/schemas/ImageDoc"}]},"type":"array"}],"title":"Input","description":"Content to embed: a string, `TextDoc`, `ImageDoc`, `PDFDoc`, or a list of items. PDFs must be sent individually. Images up to 8MB."}},"type":"object","required":["model","input"],"title":"ClipV1Request","description":"CLIP v1 multimodal model for images and text in a shared vector space.","example":{"embedding_type":"float","input":[{"image":"https://i.ibb.co/nQNGqL0/beach1.jpg"},"A beautiful sunset over the beach"],"model":"jina-clip-v1","normalized":true}},"ClipV2Request":{"properties":{"embedding_type":{"anyOf":[{"type":"string","enum":["float","base64","binary","ubinary"]},{"items":{"type":"string","enum":["float","base64","binary","ubinary"]},"type":"array"},{"type":"null"}],"title":"Embedding Type","description":"Output encoding format: `float`, `base64`, `binary`, `ubinary`, or a list of these."},"normalized":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Normalized","description":"If true (default), embeddings are L2-normalized to unit length.","default":true},"truncate":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Truncate","description":"If true, truncates input exceeding the model's max token limit instead of returning an error.","default":false},"model":{"type":"string","const":"jina-clip-v2","title":"Model","description":"The CLIP model to use."},"input":{"anyOf":[{"type":"string"},{"$ref":"#/components/schemas/TextDoc"},{"$ref":"#/components/schemas/ImageDoc"},{"$ref":"#/components/schemas/PDFDoc"},{"items":{"anyOf":[{"type":"string"},{"$ref":"#/components/schemas/TextDoc"},{"$ref":"#/components/schemas/ImageDoc"}]},"type":"array"}],"title":"Input","description":"Content to embed: a string, `TextDoc`, `ImageDoc`, `PDFDoc`, or a list of items. PDFs must be sent individually. Images up to 8MB."},"task":{"anyOf":[{"type":"string","const":"retrieval.query"},{"type":"null"}],"title":"Task","description":"Set to `retrieval.query` to optimize for search queries. Leave unset for documents."},"dimensions":{"anyOf":[{"type":"integer","maximum":1024.0,"exclusiveMinimum":0.0},{"type":"null"}],"title":"Dimensions","description":"Number of dimensions for the output embedding. Range: 1-1024."}},"type":"object","required":["model","input"],"title":"ClipV2Request","description":"CLIP v2 with Matryoshka representation learning for flexible dimensions.","example":{"dimensions":512,"embedding_type":"float","input":[{"image":"https://i.ibb.co/nQNGqL0/beach1.jpg"},"Jina AI - Your Search Foundation - Supercharged"],"model":"jina-clip-v2","normalized":true,"task":"retrieval.query"}},"CodeEmbeddings1500MRequest":{"properties":{"embedding_type":{"anyOf":[{"type":"string","enum":["float","base64","binary","ubinary"]},{"items":{"type":"string","enum":["float","base64","binary","ubinary"]},"type":"array"},{"type":"null"}],"title":"Embedding Type","description":"Output encoding format: `float`, `base64`, `binary`, `ubinary`, or a list of these."},"model":{"type":"string","const":"jina-code-embeddings-1.5b","title":"Model","description":"The code embedding model to use."},"input":{"anyOf":[{"type":"string"},{"$ref":"#/components/schemas/TextDoc"},{"items":{"anyOf":[{"type":"string"},{"$ref":"#/components/schemas/TextDoc"}]},"type":"array"}],"title":"Input","description":"Code or text to embed: a string, `TextDoc`, or a list of items."},"truncate":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Truncate","description":"If true, truncates input exceeding the model's max token limit instead of returning an error.","default":false},"dimensions":{"anyOf":[{"type":"integer","maximum":1536.0,"exclusiveMinimum":0.0},{"type":"null"}],"title":"Dimensions","description":"Number of dimensions for the output embedding. Range: 1-1536."},"task":{"anyOf":[{"type":"string","enum":["nl2code.query","nl2code.passage","qa.query","qa.passage","code2code.query","code2code.passage","code2nl.query","code2nl.passage","code2completion.query","code2completion.passage"]},{"type":"null"}],"title":"Task","description":"Task type: `nl2code`, `qa`, `code2code`, `code2nl`, or `code2completion`. Use `.query` for queries, `.passage` for documents.","default":"nl2code.query"}},"type":"object","required":["model","input"],"title":"CodeEmbeddings1500MRequest","description":"Code embeddings (1.5b) for search over source, and between source and prose.","examples":[{"dimensions":512,"input":["import * as ElementPlusIconsVue from '@element-plus/icons-vue'\nconst app = createApp(App)\nfor (const [key, component] of Object.entries(ElementPlusIconsVue)) {\n  app.component(key, component)\n}"],"model":"jina-code-embeddings-1.5b","task":"nl2code.passage"}]},"CodeEmbeddings500MRequest":{"properties":{"embedding_type":{"anyOf":[{"type":"string","enum":["float","base64","binary","ubinary"]},{"items":{"type":"string","enum":["float","base64","binary","ubinary"]},"type":"array"},{"type":"null"}],"title":"Embedding Type","description":"Output encoding format: `float`, `base64`, `binary`, `ubinary`, or a list of these."},"model":{"type":"string","const":"jina-code-embeddings-0.5b","title":"Model","description":"The code embedding model to use."},"input":{"anyOf":[{"type":"string"},{"$ref":"#/components/schemas/TextDoc"},{"items":{"anyOf":[{"type":"string"},{"$ref":"#/components/schemas/TextDoc"}]},"type":"array"}],"title":"Input","description":"Code or text to embed: a string, `TextDoc`, or a list of items."},"truncate":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Truncate","description":"If true, truncates input exceeding the model's max token limit instead of returning an error.","default":false},"dimensions":{"anyOf":[{"type":"integer","maximum":896.0,"exclusiveMinimum":0.0},{"type":"null"}],"title":"Dimensions","description":"Number of dimensions for the output embedding. Range: 1-896."},"task":{"anyOf":[{"type":"string","enum":["nl2code.query","nl2code.passage","qa.query","qa.passage","code2code.query","code2code.passage","code2nl.query","code2nl.passage","code2completion.query","code2completion.passage"]},{"type":"null"}],"title":"Task","description":"Task type: `nl2code`, `qa`, `code2code`, `code2nl`, or `code2completion`. Use `.query` for queries, `.passage` for documents.","default":"nl2code.query"}},"type":"object","required":["model","input"],"title":"CodeEmbeddings500MRequest","description":"Code embeddings (0.5b) for search over source, and between source and prose.","examples":[{"dimensions":512,"embedding_type":"float","input":["import * as ElementPlusIconsVue from '@element-plus/icons-vue'\nconst app = createApp(App)\nfor (const [key, component] of Object.entries(ElementPlusIconsVue)) {\n  app.component(key, component)\n}"],"model":"jina-code-embeddings-0.5b","task":"nl2code.passage"}]},"ColbertV1Request":{"properties":{"embedding_type":{"anyOf":[{"type":"string","enum":["float","base64","binary","ubinary"]},{"items":{"type":"string","enum":["float","base64","binary","ubinary"]},"type":"array"},{"type":"null"}],"title":"Embedding Type","description":"Output encoding format: `float`, `base64`, `binary`, `ubinary`, or a list of these."},"model":{"type":"string","const":"jina-colbert-v1-en","title":"Model","description":"The ColBERT model to use."},"input":{"anyOf":[{"type":"string"},{"$ref":"#/components/schemas/TextDoc"},{"items":{"anyOf":[{"type":"string"},{"$ref":"#/components/schemas/TextDoc"}]},"type":"array"}],"title":"Input","description":"Text to embed: a string, `TextDoc`, or a list of items."},"input_type":{"anyOf":[{"type":"string","enum":["query","document"]},{"type":"null"}],"title":"Input Type","description":"Role of the input: `query` for search queries, `document` for passages.","default":"document"}},"type":"object","required":["model","input"],"title":"ColbertV1Request","description":"ColBERT v1 for token-level late interaction retrieval.","example":{"embedding_type":"float","input":["A beautiful sunset over the beach","Jina AI - Your Search Foundation - Supercharged"],"input_type":"document","model":"jina-colbert-v1-en"}},"ColbertV2Request":{"properties":{"embedding_type":{"anyOf":[{"type":"string","enum":["float","base64","binary","ubinary"]},{"items":{"type":"string","enum":["float","base64","binary","ubinary"]},"type":"array"},{"type":"null"}],"title":"Embedding Type","description":"Output encoding format: `float`, `base64`, `binary`, `ubinary`, or a list of these."},"model":{"type":"string","const":"jina-colbert-v2","title":"Model","description":"The ColBERT model to use."},"input":{"anyOf":[{"type":"string"},{"$ref":"#/components/schemas/TextDoc"},{"items":{"anyOf":[{"type":"string"},{"$ref":"#/components/schemas/TextDoc"}]},"type":"array"}],"title":"Input","description":"Text to embed: a string, `TextDoc`, or a list of items."},"input_type":{"anyOf":[{"type":"string","enum":["query","document"]},{"type":"null"}],"title":"Input Type","description":"Role of the input: `query` for search queries, `document` for passages.","default":"document"},"dimensions":{"anyOf":[{"type":"integer","enum":[64,96,128]},{"type":"null"}],"title":"Dimensions","description":"Dimensions per token: `64`, `96`, or `128`. Defaults to 128."}},"type":"object","required":["model","input"],"title":"ColbertV2Request","description":"ColBERT v2 with Matryoshka representation learning for flexible dimensions.","example":{"dimensions":128,"embedding_type":"float","input":["A beautiful sunset over the beach"],"input_type":"query","model":"jina-colbert-v2"}},"ELSERV2EmbeddingUsage":{"properties":{"total_tokens":{"type":"integer","title":"Total Tokens","description":"Total number of tokens processed."},"input_tokens":{"type":"integer","title":"Input Tokens","description":"Number of tokens in the input."},"output_tokens":{"type":"integer","title":"Output Tokens","description":"Number of tokens in the output."}},"type":"object","required":["total_tokens","input_tokens","output_tokens"],"title":"ELSERV2EmbeddingUsage","description":"Token usage statistics for Elser v2 embedding requests."},"EmbeddingResponse":{"properties":{"model":{"type":"string","title":"Model","description":"The model used to generate the embeddings."},"object":{"type":"string","title":"Object","description":"Object type, always `list`.","default":"list"},"usage":{"anyOf":[{"$ref":"#/components/schemas/EmbeddingUsage"},{"$ref":"#/components/schemas/ELSERV2EmbeddingUsage"},{"$ref":"#/components/schemas/BaseUsage"}],"title":"Usage","description":"Token usage statistics."},"data":{"anyOf":[{"items":{"$ref":"#/components/schemas/SingleEmbeddingData"},"type":"array"},{"items":{"$ref":"#/components/schemas/MultiEmbeddingData"},"type":"array"},{"items":{"additionalProperties":{"type":"number"},"type":"object"},"type":"array"}],"title":"Data","description":"List of embeddings, one per input item. A sparse model returns each as a map of token to weight instead of a vector."}},"type":"object","required":["model","usage","data"],"title":"EmbeddingResponse","description":"Response containing embeddings for all input items."},"EmbeddingUsage":{"properties":{"total_tokens":{"type":"integer","title":"Total Tokens","description":"Total number of tokens processed."},"prompt_tokens":{"type":"integer","title":"Prompt Tokens","description":"Number of text input tokens. For multimodal responses the per-modality fields below account for non-text tokens; for text-only responses this equals `total_tokens`."},"image_tokens":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Image Tokens","description":"Number of tokens from image inputs."},"audio_tokens":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Audio Tokens","description":"Number of tokens from audio inputs."},"video_tokens":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Video Tokens","description":"Number of tokens from video inputs."}},"type":"object","required":["total_tokens","prompt_tokens"],"title":"EmbeddingUsage","description":"Token usage statistics for embedding requests.\n\n`prompt_tokens` counts text input tokens (including the task prefix and\nany structural/special framing). For text-only models — and any response\nthat doesn't populate a per-modality breakdown — it equals `total_tokens`.\nFor multimodal v5-omni responses, `total_tokens` is the aggregate across\nall modalities and the per-modality fields (`image_tokens` /\n`audio_tokens` / `video_tokens`) are sub-counts, so the invariant holds\nexactly (absent per-modality fields count as 0):\n\n    total_tokens == prompt_tokens + image_tokens + audio_tokens + video_tokens\n\nPDF pages are rendered to images and counted in `image_tokens`.\n\nAll MM fields are Optional so text-only responses don't have to populate\nthem, and serializers should drop unset fields (`exclude_none=True`)."},"EmbeddingsV2Request":{"properties":{"embedding_type":{"anyOf":[{"type":"string","enum":["float","base64","binary","ubinary"]},{"items":{"type":"string","enum":["float","base64","binary","ubinary"]},"type":"array"},{"type":"null"}],"title":"Embedding Type","description":"Output encoding format: `float`, `base64`, `binary`, `ubinary`, or a list of these."},"normalized":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Normalized","description":"If true (default), embeddings are L2-normalized to unit length.","default":true},"truncate":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Truncate","description":"If true, truncates input exceeding the model's max token limit instead of returning an error.","default":false},"model":{"type":"string","enum":["jina-embeddings-v2-base-en","jina-embeddings-v2-base-zh","jina-embeddings-v2-base-de","jina-embeddings-v2-base-es","jina-embeddings-v2-base-code"],"title":"Model","description":"The embedding model to use."},"input":{"anyOf":[{"type":"string"},{"$ref":"#/components/schemas/TextDoc"},{"items":{"anyOf":[{"type":"string"},{"$ref":"#/components/schemas/TextDoc"}]},"type":"array"}],"title":"Input","description":"Text to embed: a string, `TextDoc`, or a list of items."}},"type":"object","required":["model","input"],"title":"EmbeddingsV2Request","description":"Jina Embeddings v2 text embedding models.","example":{"embedding_type":"float","input":["A beautiful sunset over the beach","Jina AI - Your Search Foundation - Supercharged"],"model":"jina-embeddings-v2-base-en","normalized":true,"truncate":false}},"EmbeddingsV3Request":{"properties":{"embedding_type":{"anyOf":[{"type":"string","enum":["float","base64","binary","ubinary"]},{"items":{"type":"string","enum":["float","base64","binary","ubinary"]},"type":"array"},{"type":"null"}],"title":"Embedding Type","description":"Output encoding format: `float`, `base64`, `binary`, `ubinary`, or a list of these."},"normalized":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Normalized","description":"If true (default), embeddings are L2-normalized to unit length.","default":true},"truncate":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Truncate","description":"If true, truncates input exceeding the model's max token limit instead of returning an error.","default":false},"model":{"type":"string","const":"jina-embeddings-v3","title":"Model","description":"The embedding model to use."},"input":{"anyOf":[{"type":"string"},{"$ref":"#/components/schemas/TextDoc"},{"items":{"anyOf":[{"type":"string"},{"$ref":"#/components/schemas/TextDoc"}]},"type":"array"}],"title":"Input","description":"Text to embed: a string, `TextDoc`, or a list of items."},"task":{"anyOf":[{"type":"string","enum":["retrieval.query","retrieval.passage","text-matching","classification","separation"]},{"type":"null"}],"title":"Task","description":"Task optimization: `retrieval.query` for queries, `retrieval.passage` for documents, `text-matching` for similarity, `classification`, or `separation` for clustering."},"late_chunking":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Late Chunking","description":"If true, concatenates all inputs and processes as one sequence before splitting. Useful for context across chunks."},"dimensions":{"anyOf":[{"type":"integer","maximum":1024.0,"exclusiveMinimum":0.0},{"type":"null"}],"title":"Dimensions","description":"Number of dimensions for the output embedding. Range: 1-1024."}},"type":"object","required":["model","input"],"title":"EmbeddingsV3Request","description":"Jina Embeddings v3 with task-specific optimization and flexible dimensions.","example":{"dimensions":512,"embedding_type":"float","input":["A beautiful sunset over the beach"],"late_chunking":false,"model":"jina-embeddings-v3","normalized":true,"task":"retrieval.query"}},"EmbeddingsV4Request":{"properties":{"embedding_type":{"anyOf":[{"type":"string","enum":["float","base64","binary","ubinary"]},{"items":{"type":"string","enum":["float","base64","binary","ubinary"]},"type":"array"},{"type":"null"}],"title":"Embedding Type","description":"Output encoding format: `float`, `base64`, `binary`, `ubinary`, or a list of these."},"model":{"type":"string","const":"jina-embeddings-v4","title":"Model","description":"The embedding model to use."},"input":{"anyOf":[{"type":"string"},{"$ref":"#/components/schemas/TextDoc"},{"$ref":"#/components/schemas/ImageDoc"},{"$ref":"#/components/schemas/PDFDoc"},{"items":{"anyOf":[{"type":"string"},{"$ref":"#/components/schemas/TextDoc"},{"$ref":"#/components/schemas/ImageDoc"}]},"type":"array"}],"title":"Input","description":"Content to embed: a string, `TextDoc`, `ImageDoc`, `PDFDoc`, or a list of items. PDFs must be sent individually. Images up to 8MB; PDFs up to 8MB."},"truncate":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Truncate","description":"If true, truncates input exceeding the model's max token limit instead of returning an error.","default":false},"late_chunking":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Late Chunking","description":"If true, concatenates all text inputs and processes as one sequence before splitting. Only works with text."},"dimensions":{"anyOf":[{"type":"integer","maximum":2048.0,"exclusiveMinimum":0.0},{"type":"null"}],"title":"Dimensions","description":"Number of dimensions for the output embedding. Range: 1-2048."},"task":{"anyOf":[{"type":"string","enum":["text-matching","retrieval.query","retrieval.passage","code.query","code.passage"]},{"type":"null"}],"title":"Task","description":"Task optimization: `text-matching` (default), `retrieval.query`, `retrieval.passage`, `code.query`, or `code.passage`.","default":"text-matching"},"return_multivector":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Return Multivector","description":"If true, returns one embedding per token. Cannot be used with `dimensions`.","default":false},"return_tokenized_input":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Return Tokenized Input","description":"If true, returns tokens alongside multi-vector embeddings. Requires `return_multivector=true`.","default":false}},"type":"object","required":["model","input"],"title":"EmbeddingsV4Request","description":"Jina Embeddings v4 multimodal model for text, images, and PDFs.","examples":[{"dimensions":512,"embedding_type":"float","input":[{"image":"https://i.ibb.co/nQNGqL0/beach1.jpg"},{"text":"A beautiful sunset over the beach"}],"model":"jina-embeddings-v4"},{"embedding_type":"float","input":["Jina AI - Your Search Foundation - Supercharged"],"late_chunking":true,"model":"jina-embeddings-v4","task":"retrieval.passage"},{"dimensions":512,"embedding_type":"float","input":{"pdf":"https://example.com/sample.pdf"},"model":"jina-embeddings-v4"}]},"EmbeddingsV5Request":{"properties":{"embedding_type":{"anyOf":[{"type":"string","enum":["float","base64","binary","ubinary"]},{"items":{"type":"string","enum":["float","base64","binary","ubinary"]},"type":"array"},{"type":"null"}],"title":"Embedding Type","description":"Output encoding format: `float`, `base64`, `binary`, `ubinary`, or a list of these."},"normalized":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Normalized","description":"If true (default), embeddings are L2-normalized to unit length.","default":true},"truncate":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Truncate","description":"If true, truncates input exceeding the model's max token limit instead of returning an error.","default":false},"model":{"type":"string","enum":["jina-embeddings-v5-text-nano","jina-embeddings-v5-text-small","jina-embeddings-v5-omni-small","jina-embeddings-v5-omni-nano"],"title":"Model","description":"The embedding model to use."},"input":{"anyOf":[{"type":"string"},{"$ref":"#/components/schemas/TextDoc"},{"$ref":"#/components/schemas/ImageDoc"},{"$ref":"#/components/schemas/VideoDoc"},{"$ref":"#/components/schemas/AudioDoc"},{"$ref":"#/components/schemas/PDFDoc"},{"items":{"anyOf":[{"type":"string"},{"$ref":"#/components/schemas/TextDoc"},{"$ref":"#/components/schemas/ImageDoc"},{"$ref":"#/components/schemas/VideoDoc"},{"$ref":"#/components/schemas/AudioDoc"},{"$ref":"#/components/schemas/MergedContentGroup"}]},"type":"array"}],"title":"Input","description":"Content to embed: a string, `TextDoc`, `ImageDoc`, `VideoDoc`, `AudioDoc`, `PDFDoc`, or a list of these. A list item may also be a `{content: [...]}` group, fused into one embedding. A PDF must be sent on its own, not inside a list."},"task":{"anyOf":[{"type":"string","enum":["retrieval.query","retrieval.passage","text-matching","clustering","classification"]},{"type":"null"}],"title":"Task","description":"Task optimization: `retrieval.query` for queries, `retrieval.passage` for documents, `text-matching` for similarity, `clustering`, or `classification`.","default":"text-matching"},"dimensions":{"anyOf":[{"type":"integer","maximum":1024.0,"exclusiveMinimum":0.0},{"type":"null"}],"title":"Dimensions","description":"Number of dimensions for the output embedding. Range: 1-1024."}},"type":"object","required":["model","input"],"title":"EmbeddingsV5Request","description":"Jina Embeddings v5, with task-specific adapters and truncatable\ndimensions. Text, images, video, audio and PDFs share one vector space, so\na query in any of them retrieves any other; the `omni` names are the ones\nto reach for when the corpus is not text.\n\nEach list item is one modality, except a `MergedContentGroup`\n(`{\"content\": [...]}`), which fuses several chunks into a single embedding\nin one forward pass.","examples":[{"dimensions":512,"embedding_type":"float","input":["A beautiful sunset over the beach"],"model":"jina-embeddings-v5-text-small","normalized":true,"task":"retrieval.query"},{"embedding_type":"float","input":[{"image":"https://i.ibb.co/nQNGqL0/beach1.jpg"},{"text":"A beautiful sunset over the beach"}],"model":"jina-embeddings-v5-omni-small","task":"retrieval.passage"}]},"ErrorResponse":{"properties":{"detail":{"type":"string","title":"Detail","description":"Human-readable error message.","examples":["Invalid API key. Verify your API key at https://jina.ai/api-dashboard/key-manager or generate a new one."]},"code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Code","description":"Machine-readable error code, for programmatic handling.","examples":["AUTH_INVALID_API_KEY"]},"request_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Request Id","description":"Identifier for this request, quote it in support requests.","examples":["03f58cd9da22fabf"]},"errors":{"anyOf":[{"items":{"$ref":"#/components/schemas/FieldError"},"type":"array"},{"type":"null"}],"title":"Errors","description":"Per-field detail. Present on 422 only; `detail` summarises it."}},"type":"object","required":["detail"],"title":"ErrorResponse","description":"Failure shape for every endpoint except `/v1/chat/completions`."},"FieldError":{"properties":{"field":{"type":"string","title":"Field","description":"Path to the field, e.g. `body -> input -> 0`."},"message":{"type":"string","title":"Message","description":"Why the value was rejected."},"type":{"type":"string","title":"Type","description":"Validator that rejected it, e.g. `string_type`."},"input":{"anyOf":[{},{"type":"null"}],"title":"Input","description":"The rejected value. Long strings are truncated and containers dropped."}},"type":"object","required":["field","message","type"],"title":"FieldError","description":"One rejected field, as carried in a 422."},"ImageContentPart":{"properties":{"type":{"type":"string","const":"image_url","title":"Type"},"image_url":{"$ref":"#/components/schemas/ImageURL"}},"type":"object","required":["type","image_url"],"title":"ImageContentPart"},"ImageDoc":{"properties":{"image":{"type":"string","title":"Image","description":"Image as a URL or base64-encoded string."}},"type":"object","required":["image"],"title":"ImageDoc"},"ImageURL":{"properties":{"url":{"type":"string","title":"Url","description":"An `http(s)` URL or a `data:image/...;base64,` URI."}},"type":"object","required":["url"],"title":"ImageURL"},"JSONSchemaSpec":{"properties":{"name":{"type":"string","title":"Name"},"schema":{"anyOf":[{"additionalProperties":true,"type":"object"},{"type":"null"}],"title":"Schema"}},"type":"object","required":["name"],"title":"JSONSchemaSpec"},"MergedContentGroup":{"properties":{"content":{"items":{"anyOf":[{"$ref":"#/components/schemas/TextDoc"},{"$ref":"#/components/schemas/ImageDoc"},{"$ref":"#/components/schemas/VideoDoc"},{"$ref":"#/components/schemas/AudioDoc"}]},"type":"array","minItems":1,"title":"Content","description":"Ordered list of modality chunks (text / image / video / audio). Must contain at least one chunk."}},"type":"object","required":["content"],"title":"MergedContentGroup","description":"Several chunks of different modalities fused into one embedding.\n\nThe group returns a single vector, and order within `content` is part of\nthe meaning — reordering it can change the result. A PDF cannot go inside\na group; send it as its own input."},"ModelDatacenter":{"properties":{"country_code":{"type":"string","title":"Country Code","description":"ISO country code of the datacenter."}},"type":"object","required":["country_code"],"title":"ModelDatacenter","description":"Datacenter location for a model."},"ModelInfo":{"properties":{"id":{"type":"string","title":"Id","description":"Unique model identifier (e.g., `jina-ai/jina-embeddings-v3`)."},"hugging_face_id":{"type":"string","title":"Hugging Face Id","description":"HuggingFace model ID."},"name":{"type":"string","title":"Name","description":"Human-readable model name."},"created":{"type":"integer","title":"Created","description":"Unix timestamp when the model was released."},"input_modalities":{"items":{"type":"string"},"type":"array","title":"Input Modalities","description":"Supported input modalities: `text`, `image`, `video`, `audio`."},"output_modalities":{"items":{"type":"string"},"type":"array","title":"Output Modalities","description":"Output types: `embeddings`, `text`."},"quantization":{"type":"string","title":"Quantization","description":"Quantization level, if any."},"context_length":{"type":"integer","title":"Context Length","description":"Maximum context length in tokens."},"max_output_length":{"type":"integer","title":"Max Output Length","description":"Largest output the model produces: embedding dimensions for an embedding model, tokens for a generative one. `0` where it does not apply."},"pricing":{"$ref":"#/components/schemas/ModelPricing","description":"Pricing information."},"supported_sampling_parameters":{"items":{"type":"string"},"type":"array","title":"Supported Sampling Parameters","description":"Supported sampling parameters."},"supported_features":{"items":{"type":"string"},"type":"array","title":"Supported Features","description":"Supported features."},"description":{"type":"string","title":"Description","description":"Model description."},"datacenters":{"items":{"$ref":"#/components/schemas/ModelDatacenter"},"type":"array","title":"Datacenters","description":"Available datacenter locations."}},"type":"object","required":["id","hugging_face_id","name","created","input_modalities","output_modalities","quantization","context_length","max_output_length","pricing","supported_sampling_parameters","supported_features","description","datacenters"],"title":"ModelInfo","description":"Information about a single model."},"ModelListResponse":{"properties":{"data":{"items":{"$ref":"#/components/schemas/ModelInfo"},"type":"array","title":"Data","description":"List of available models."}},"type":"object","required":["data"],"title":"ModelListResponse","description":"Response containing list of available models.","example":{"data":[{"context_length":8192,"created":1725840000,"datacenters":[{"country_code":"US"}],"description":"jina-embeddings-v3 is a multilingual embedding model...","hugging_face_id":"jinaai/jina-embeddings-v3","id":"jina-ai/jina-embeddings-v3","input_modalities":["text"],"max_output_length":1024,"name":"Jina AI: Jina Embeddings v3","output_modalities":["embeddings"],"pricing":{"completion":"0","image":"0","input_cache_read":"0","input_cache_write":"0","prompt":"0.00000005","request":"0"},"quantization":"","supported_features":[],"supported_sampling_parameters":[]}]}},"ModelPricing":{"properties":{"prompt":{"type":"string","title":"Prompt","description":"USD per input token."},"completion":{"type":"string","title":"Completion","description":"USD per output token."},"image":{"type":"string","title":"Image","description":"USD per image."},"request":{"type":"string","title":"Request","description":"USD per request."},"input_cache_read":{"type":"string","title":"Input Cache Read","description":"USD per cached input token read."},"input_cache_write":{"type":"string","title":"Input Cache Write","description":"USD per cached input token written."}},"type":"object","required":["prompt","completion","image","request","input_cache_read","input_cache_write"],"title":"ModelPricing","description":"Pricing information for a model."},"MultiEmbeddingData":{"properties":{"object":{"type":"string","title":"Object","description":"Object type, always `embeddings` for multi-vector output.","default":"embeddings"},"index":{"type":"integer","title":"Index","description":"Position of this result in the input list."},"embeddings":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"items":{"items":{"type":"number"},"type":"array"},"type":"array"}],"title":"Embeddings","description":"Per-token embedding vectors. Each is a list of floats or base64 string."},"tokenized_input":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Tokenized Input","description":"Tokens corresponding to each embedding, if `return_tokenized_input=true`."}},"type":"object","required":["index","embeddings"],"title":"MultiEmbeddingData","description":"Multi-vector embedding result (one vector per token)."},"OpenAIError":{"properties":{"message":{"type":"string","title":"Message","description":"Human-readable error message."},"type":{"type":"string","title":"Type","description":"OpenAI's error class, e.g. `invalid_request_error`.","examples":["invalid_request_error"]},"param":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Param","description":"The request field at fault, when one is named."},"code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Code","examples":["INPUT_MODEL_NOT_FOUND"]},"request_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Request Id","examples":["03f58cd9da22fabf"]}},"type":"object","required":["message","type"],"title":"OpenAIError","description":"OpenAI's error object. Our `code` and `request_id` ride inside it because\nthe OpenAI SDK keeps `body[\"error\"]` and discards everything beside it."},"OpenAIErrorResponse":{"properties":{"error":{"$ref":"#/components/schemas/OpenAIError"}},"type":"object","required":["error"],"title":"OpenAIErrorResponse","description":"Failure shape for `/v1/chat/completions`, so OpenAI clients parse it."},"PDFDoc":{"properties":{"pdf":{"type":"string","title":"Pdf","description":"PDF as a URL or base64-encoded string."}},"type":"object","required":["pdf"],"title":"PDFDoc"},"RerankerM0Request":{"properties":{"query":{"anyOf":[{"type":"string"},{"$ref":"#/components/schemas/ImageDoc"}],"title":"Query","description":"The query to rank documents against: a text string, or an image object (`{\"image\": <url|base64>}`) for a visual query."},"top_n":{"anyOf":[{"type":"integer","minimum":1.0},{"type":"null"}],"title":"Top N","description":"Number of top results to return. If not set, returns all documents."},"return_documents":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Return Documents","description":"If true (default), includes document content in each result.","default":true},"model":{"type":"string","const":"jina-reranker-m0","title":"Model","description":"The multimodal reranking model to use."},"documents":{"items":{"anyOf":[{"type":"string"},{"$ref":"#/components/schemas/TextDoc"},{"$ref":"#/components/schemas/ImageDoc"}]},"type":"array","minItems":1,"title":"Documents","description":"Documents to rank: strings, `TextDoc`, or `ImageDoc` objects."}},"type":"object","required":["query","model","documents"],"title":"RerankerM0Request","description":"Multimodal reranker: the query and the documents may each be text or an image.","example":{"documents":[{"image":"https://raw.githubusercontent.com/jina-ai/multimodal-reranker-test/main/paper-11.png"},{"text":"Attention Is All You Need: This groundbreaking paper introduced the Transformer architecture, revolutionizing natural language processing and becoming the foundation for modern large language models like GPT and BERT."},"Recent advances in computer vision have led to the development of vision transformers (ViTs) that achieve state-of-the-art performance on image classification tasks by treating images as sequences of patches.",{"image":"https://raw.githubusercontent.com/jina-ai/multimodal-reranker-test/main/wired-preview.png"},{"text":"Graph Neural Networks: A Review of Methods and Applications. This comprehensive survey covers the latest developments in graph-based machine learning, including graph convolutional networks and graph attention mechanisms."},"Traditional database systems struggle with the volume and variety of modern data workloads, leading to the adoption of distributed computing frameworks like Apache Spark and Hadoop for big data processing."],"model":"jina-reranker-m0","query":"innovative artificial intelligence research papers and visual data analysis","return_documents":false,"top_n":4}},"RerankerV3Request":{"properties":{"query":{"type":"string","title":"Query","description":"The search query to rank documents against."},"top_n":{"anyOf":[{"type":"integer","minimum":1.0},{"type":"null"}],"title":"Top N","description":"Number of top results to return. If not set, returns all documents."},"return_documents":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Return Documents","description":"If true (default), includes document content in each result.","default":true},"model":{"type":"string","enum":["jina-reranker-v3","jina-reranker-v3.5"],"title":"Model","description":"The reranking model to use."},"documents":{"items":{"anyOf":[{"type":"string"},{"$ref":"#/components/schemas/TextDoc"}]},"type":"array","minItems":1,"title":"Documents","description":"Documents to rank: strings or `TextDoc` objects."},"max_doc_length":{"anyOf":[{"type":"integer","maximum":8192.0,"minimum":1.0},{"type":"null"}],"title":"Max Doc Length","description":"Maximum tokens per document (1-8192). Omit to use the model's default (2048 for jina-reranker-v3, 8192 for jina-reranker-v3.5)."},"return_embeddings":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Return Embeddings","description":"If true, returns the document embedding alongside the relevance score."}},"type":"object","required":["query","model","documents"],"title":"RerankerV3Request","description":"Listwise multilingual reranker: scores the candidate set as a whole\nrather than one document at a time.","example":{"documents":["Climate Change and Renewable Energy: A Global Perspective. Rising temperatures and extreme weather events are accelerating the transition to solar and wind power worldwide.","Le changement climatique et l'énergie renouvelable : une perspective européenne. L'Union européenne investit massivement dans les technologies vertes pour atteindre la neutralité carbone d'ici 2050.","Klimawandel und erneuerbare Energien: Deutsche Energiewende. Deutschland führt die Transformation des Energiesektors durch innovative Technologien und politische Maßnahmen an.","气候变化对可再生能源的影响：中国的绿色发展战略。中国正在大力推进太阳能和风能项目，以实现碳中和目标。","Artificial Intelligence in Healthcare: Revolutionizing Medical Diagnosis. AI-powered systems are improving accuracy in disease detection and treatment recommendations.","Blockchain Technology: Transforming Financial Services. Decentralized finance applications are reshaping traditional banking and payment systems."],"model":"jina-reranker-v3","query":"Climate change impact on renewable energy adoption","return_documents":false,"return_embeddings":false,"top_n":4}},"RerankingResponse":{"properties":{"model":{"type":"string","title":"Model","description":"The model used for reranking."},"object":{"type":"string","title":"Object","description":"Object type, always `list`.","default":"list"},"usage":{"$ref":"#/components/schemas/BaseUsage","description":"Token usage statistics."},"results":{"items":{"$ref":"#/components/schemas/RerankingResult"},"type":"array","title":"Results","description":"Ranked documents, sorted by relevance score descending."}},"type":"object","required":["model","usage","results"],"title":"RerankingResponse","description":"Response containing ranked documents."},"RerankingResult":{"properties":{"index":{"type":"integer","title":"Index","description":"Position of this document in the original input list."},"relevance_score":{"type":"number","title":"Relevance Score","description":"Relevance score. Higher is more relevant."},"document":{"anyOf":[{"type":"string"},{"$ref":"#/components/schemas/TextDoc"},{"$ref":"#/components/schemas/ImageDoc"},{"type":"null"}],"title":"Document","description":"Document content, if `return_documents=true`."},"embedding":{"anyOf":[{"items":{"type":"number"},"type":"array"},{"type":"null"}],"title":"Embedding","description":"Document embedding, if `return_embeddings=true`."}},"type":"object","required":["index","relevance_score"],"title":"RerankingResult","description":"A single reranking result."},"ResponseFormatJSONObject":{"properties":{"type":{"type":"string","const":"json_object","title":"Type"}},"type":"object","required":["type"],"title":"ResponseFormatJSONObject"},"ResponseFormatJSONSchema":{"properties":{"type":{"type":"string","const":"json_schema","title":"Type"},"json_schema":{"$ref":"#/components/schemas/JSONSchemaSpec"}},"type":"object","required":["type","json_schema"],"title":"ResponseFormatJSONSchema"},"ResponseFormatText":{"properties":{"type":{"type":"string","const":"text","title":"Type"}},"type":"object","required":["type"],"title":"ResponseFormatText"},"SingleEmbeddingData":{"properties":{"object":{"type":"string","title":"Object","description":"Object type, always `embedding`.","default":"embedding"},"index":{"type":"integer","title":"Index","description":"Position of this embedding in the input list."},"embedding":{"anyOf":[{"type":"string"},{"items":{"type":"number"},"type":"array"},{"additionalProperties":{"type":"number"},"type":"object"}],"title":"Embedding","description":"The embedding vector: a list of floats for dense embeddings, a dict of token->score for sparse embeddings, or a base64 string for other encodings."}},"type":"object","required":["index","embedding"],"title":"SingleEmbeddingData","description":"Single embedding result for one input item."},"StreamOptions":{"properties":{"include_usage":{"type":"boolean","title":"Include Usage","description":"Report token usage in the stream. When set, every chunk carries `usage: null` and a final chunk carries the totals. When unset, no chunk mentions usage and the final chunk is not sent at all.","default":false}},"type":"object","title":"StreamOptions"},"TextContentPart":{"properties":{"type":{"type":"string","const":"text","title":"Type"},"text":{"type":"string","title":"Text"}},"type":"object","required":["type","text"],"title":"TextContentPart"},"TextDoc":{"properties":{"text":{"type":"string","title":"Text","description":"Text content to process."}},"type":"object","required":["text"],"title":"TextDoc"},"TextRerankerRequest":{"properties":{"query":{"type":"string","title":"Query","description":"The search query to rank documents against."},"top_n":{"anyOf":[{"type":"integer","minimum":1.0},{"type":"null"}],"title":"Top N","description":"Number of top results to return. If not set, returns all documents."},"return_documents":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Return Documents","description":"If true (default), includes document content in each result.","default":true},"model":{"type":"string","enum":["jina-reranker-v2-base-multilingual","jina-reranker-v1-tiny-en","jina-reranker-v1-turbo-en","jina-reranker-v1-base-en","jina-colbert-v1-en","jina-colbert-v2"],"title":"Model","description":"The reranking model to use."},"documents":{"items":{"anyOf":[{"type":"string"},{"$ref":"#/components/schemas/TextDoc"}]},"type":"array","minItems":1,"title":"Documents","description":"Documents to rank: strings or `TextDoc` objects."}},"type":"object","required":["query","model","documents"],"title":"TextRerankerRequest","description":"Pointwise text reranker: scores each document against the query.","example":{"documents":["Climate Change and Renewable Energy: A Global Perspective. Rising temperatures and extreme weather events are accelerating the transition to solar and wind power worldwide.","Le changement climatique et l'énergie renouvelable : une perspective européenne. L'Union européenne investit massivement dans les technologies vertes pour atteindre la neutralité carbone d'ici 2050.","Klimawandel und erneuerbare Energien: Deutsche Energiewende. Deutschland führt die Transformation des Energiesektors durch innovative Technologien und politische Maßnahmen an.","气候变化对可再生能源的影响：中国的绿色发展战略。中国正在大力推进太阳能和风能项目，以实现碳中和目标。","Artificial Intelligence in Healthcare: Revolutionizing Medical Diagnosis. AI-powered systems are improving accuracy in disease detection and treatment recommendations.","Blockchain Technology: Transforming Financial Services. Decentralized finance applications are reshaping traditional banking and payment systems."],"model":"jina-reranker-v2-base-multilingual","query":"Climate change impact on renewable energy adoption","return_documents":false,"top_n":4}},"VideoDoc":{"properties":{"video":{"type":"string","title":"Video","description":"Video as a URL or base64-encoded string."}},"type":"object","required":["video"],"title":"VideoDoc"}},"securitySchemes":{"HTTPBearer":{"type":"http","scheme":"bearer"}}},"tags":[{"name":"Model List","description":"Every model this API serves, in OpenRouter-compatible form: identifiers, input and output modalities, context lengths and prices. Read it before hardcoding a model name — the catalogue moves."},{"name":"Search Foundation Models","description":"**Embeddings** turn text, images, audio, video and PDFs into dense vectors for semantic search, RAG, clustering and classification. Task-specific variants (`retrieval.query`, `retrieval.passage`, `text-matching`, `clustering`, `classification`) are selected per request rather than per model, and `dimensions` truncates the output where a model supports it.\n\n**Reranking** scores a query against a candidate set and returns it reordered, which is more accurate than embedding similarity and slower — the usual shape is embeddings to retrieve, reranking to refine.\n\nEach endpoint's `model` field lists the models it accepts."},{"name":"Generative Models","description":"Document transcription over the OpenAI chat completions schema. Point any OpenAI-compatible client at the server URL above with `/v1` appended, set `model`, and send a page image; the response is the page as text or markdown, tables and layout preserved.\n\n`stream: true` returns server-sent events. `response_format` with a `json_schema` constrains the output to that schema instead of prose. Parameters outside the supported set are accepted and ignored rather than rejected, so an SDK-generated payload always works."},{"name":"Batch Embeddings","description":"Asynchronous embedding for large workloads: up to 50,000 inputs from a GCS file URL, or 10,000 inline.\n\nSubmit with `POST /v1/batch/embeddings`, poll `GET /v1/batch/{batch_id}` until the status is `completed`, then fetch `GET /v1/batch/{batch_id}/output`. Input is OpenAI-compatible JSONL with `custom_id` and `body.input`. Output files expire after 24 hours, and a webhook can be called on completion."}]}