openapi: 3.0.0
info:
  title: SiliconFlow API
  description: The SiliconFlow REST API
  version: 1.0.0
  contact:
    name: SiliconFlow Support
    url: https://www.siliconflow.cn/
  license:
    name: MIT
    url: https://github.com/siliconflow/siliconcloud/blob/main/LICENSE
servers:
  - url: https://api.siliconflow.cn/v1
security:
  - bearerAuth: []
paths:
  /models:
    get:
      summary: Get Model List
      operationId: Retrieve a list of models.
      description: Retrieve models information.
      parameters:
        - name: type
          in: query
          description: The type of models
          required: false
          schema:
            type: string
            enum:
              - text
              - image
              - audio
              - video
        - name: sub_type
          in: query
          description: >-
            The sub type of models. You can use it to filter models individually
            without setting type.
          required: false
          schema:
            type: string
            enum:
              - chat
              - embedding
              - reranker
              - text-to-image
              - image-to-image
              - speech-to-text
              - text-to-video
      tags:
        - Models
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: stabilityai/stable-diffusion-xl-base-1.0
                        object:
                          type: string
                          example: model
                        created:
                          type: integer
                          example: 0
                        owned_by:
                          type: string
                          example: ''
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/Overloaded'
        '504':
          $ref: '#/components/responses/Timeout'
      deprecated: false
  /files:
    post:
      summary: Upload Files
      description: Upload files
      operationId: UploadFiles
      parameters: []
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                purpose:
                  type: string
                  example: batch
                  enum:
                    - batch
                file:
                  title: File upload
                  type: string
                  format: binary
                  example: /path/to/abc.jsonl
                  description: File to upload
              required:
                - purpose
                - file
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 20000
                  message:
                    type: string
                    example: Ok
                  status:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: file-jkvytbjtow
                      object:
                        type: string
                        example: file
                      bytes:
                        type: integer
                        example: 8509
                      createdAt:
                        type: integer
                        example: 1741685396
                      filename:
                        type: string
                        example: requests.jsonl
                      purpose:
                        type: string
                        example: batch
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/Overloaded'
        '504':
          $ref: '#/components/responses/Timeout'
      deprecated: false
    get:
      summary: Returns a list of files.
      description: Returns a list of files.
      operationId: getFiles
      parameters:
        - name: purpose
          in: query
          required: true
          schema:
            type: string
            enum:
              - batch
          description: Filter files by their purpose
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            default: 10
          description: Maximum number of files to return (default 10)
      responses:
        '200':
          description: Successful response with file list
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    example: 20000
                  message:
                    type: string
                    example: Ok
                  status:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      data:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                              example: file-kkhtqklcnm
                            object:
                              type: string
                              example: file
                            bytes:
                              type: integer
                              example: 806
                            created_at:
                              type: integer
                              example: 1741777570
                            filename:
                              type: string
                              example: requests-2.jsonl
                            purpose:
                              type: string
                              example: batch
                            line_count:
                              type: integer
                              example: 2
                      object:
                        type: string
                        example: file
                required:
                  - code
                  - message
                  - status
                  - data
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/Overloaded'
        '504':
          $ref: '#/components/responses/Timeout'
      deprecated: false
  /batches:
    post:
      summary: Upload Files
      description: create a batch
      operationId: UploadFiles
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input_file_id:
                  type: string
                  example: file-jkvytbjtow
                  description: >-
                    The ID of an uploaded file that contains requests for the
                    new batch.
                endpoint:
                  type: string
                  example: /v1/chat/completions
                  description: >-
                    The endpoint to be used for all requests in the batch.
                    Currently /v1/chat/completions is supported.
                completion_window:
                  type: string
                  example: 24h
                  description: >-
                    The time frame within which the batch should be processed.
                    The maximum value is 24 hours, and  the minimum value is 336
                    hours.
                metadata:
                  type: object
                  description: >-
                    Set of 16 key-value pairs that can be attached to an object.
                    This can be useful for storing additional information about
                    the object in a structured format, and querying for objects
                    via API or the dashboard.<\br>Keys are strings with a
                    maximum length of 64 characters. Values are strings with a
                    maximum length of 512 characters.
                  properties:
                    description:
                      type: string
                      example: nightly eval job
                replace:
                  type: object
                  properties:
                    model:
                      type: string
                      example: deepseek-ai/DeepSeek-V3
                      description: >-
                        For a complete list of available models, please check
                        the [batches](/cn/userguide/guides/batch#3).
              required:
                - input_file_id
                - completion_window
                - endpoint
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: batch_rdyqgrcgjg
                  object:
                    type: string
                    example: batch
                  endpoint:
                    type: string
                    example: /v1/chat/completions
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  input_file_id:
                    type: string
                    example: file-jkvytbjtow
                  completion_window:
                    type: string
                    example: 24h
                  status:
                    type: string
                    example: in_queue
                  output_file_id:
                    type: string
                    example: null
                  error_file_id:
                    type: string
                    example: null
                  created_at:
                    type: integer
                    example: 1741685413
                  in_progress_at:
                    type: integer
                    example: null
                  expires_at:
                    type: integer
                    example: 1741771813
                  finalizing_at:
                    type: integer
                    example: null
                  completed_at:
                    type: integer
                    example: null
                  failed_at:
                    type: integer
                    example: null
                  expired_at:
                    type: integer
                    example: null
                  cancelling_at:
                    type: integer
                    example: null
                  cancelled_at:
                    type: integer
                    example: null
                  request_counts:
                    type: object
                    example: null
                  metadata:
                    type: object
                    properties:
                      description:
                        type: string
                        example: nightly eval job
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/Overloaded'
        '504':
          $ref: '#/components/responses/Timeout'
      deprecated: false
    get:
      summary: List your organization's batches.
      operationId: getBatchEvaluationJob
      description: List your organization's batches.
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
          description: A limit on the number of objects to be returned.
        - name: after
          in: query
          required: false
          schema:
            type: string
          description: >-
            A cursor for use in pagination. after is an object ID that defines
            your place in the list. For instance, if you make a list request and
            receive 100 objects, ending with obj_foo, your subsequent call can
            include after=obj_foo in order to fetch the next page of the list.
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: batch_id
                        object:
                          type: string
                          example: batch
                        endpoint:
                          type: string
                          example: /v1/chat/completions
                        errors:
                          type: array
                          nullable: true
                          items:
                            type: string
                          example: null
                        input_file_id:
                          type: string
                          example: file-id
                        completion_window:
                          type: string
                          example: 24h
                        status:
                          type: string
                          example: in_queue
                        output_file_id:
                          type: string
                          nullable: true
                          example: null
                        error_file_id:
                          type: string
                          nullable: true
                          example: null
                        created_at:
                          type: integer
                          example: 1749023566
                        in_progress_at:
                          type: integer
                          nullable: true
                          example: null
                        expires_at:
                          type: integer
                          example: 1749109966
                        finalizing_at:
                          type: integer
                          nullable: true
                          example: null
                        completed_at:
                          type: integer
                          nullable: true
                          example: null
                        failed_at:
                          type: integer
                          nullable: true
                          example: null
                        expired_at:
                          type: integer
                          nullable: true
                          example: null
                        cancelling_at:
                          type: integer
                          nullable: true
                          example: null
                        cancelled_at:
                          type: integer
                          nullable: true
                          example: null
                        request_counts:
                          type: object
                          nullable: true
                          example: null
                        metadata:
                          type: object
                          properties:
                            batch_description:
                              type: string
                              example: ''
                            name:
                              type: string
                              example: batch
                        file_name:
                          type: string
                          example: requests_name.json
                  first_id:
                    type: string
                    example: first_batch_id
                  last_id:
                    type: string
                    example: last_batch_id
                  has_more:
                    type: boolean
                    example: false
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/Overloaded'
        '504':
          $ref: '#/components/responses/Timeout'
      deprecated: false
  /batches/{batch_id}:
    get:
      summary: Retrieves a batch.
      operationId: getBatchEvaluationJob
      description: Retrieves a batch.
      parameters:
        - name: batch_id
          in: path
          description: The ID of the batch to retrieve.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: The Batch object matching the specified ID.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: batch_rdyqgrcgjg
                  object:
                    type: string
                    example: batch
                  endpoint:
                    type: string
                    example: /v1/chat/completions
                  errors:
                    type: array
                    items:
                      type: string
                    example: []
                  input_file_id:
                    type: string
                    example: file-jkvytbjtow
                  completion_window:
                    type: string
                    example: 24h
                  status:
                    type: string
                    example: in_queue
                  output_file_id:
                    type: string
                    example: null
                  error_file_id:
                    type: string
                    example: null
                  created_at:
                    type: integer
                    example: 1741685413
                  in_progress_at:
                    type: integer
                    example: null
                  expires_at:
                    type: integer
                    example: 1741771813
                  finalizing_at:
                    type: integer
                    example: null
                  completed_at:
                    type: integer
                    example: null
                  failed_at:
                    type: integer
                    example: null
                  expired_at:
                    type: integer
                    example: null
                  cancelling_at:
                    type: integer
                    example: null
                  cancelled_at:
                    type: integer
                    example: null
                  request_counts:
                    type: object
                    example: {}
                  metadata:
                    type: object
                    properties:
                      description:
                        type: string
                        example: nightly eval job
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/Overloaded'
        '504':
          $ref: '#/components/responses/Timeout'
      deprecated: false
  /batches/{batch_id}/cancel:
    post:
      summary: Cancel a specific batch
      description: This endpoint cancels a batch identified by its unique ID.
      operationId: cancelBatch
      parameters:
        - name: batchId
          in: path
          required: true
          schema:
            type: string
          description: Unique identifier of the batch to cancel
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: batch_rdyqgrcgjg
                  object:
                    type: string
                    example: batch
                  endpoint:
                    type: string
                    example: /v1/chat/completions
                  errors:
                    type: array
                    items:
                      type: string
                    example: null
                  input_file_id:
                    type: string
                    example: file-jkvytbjtow
                  completion_window:
                    type: string
                    example: 24h
                  status:
                    type: string
                    example: in_queue
                  output_file_id:
                    type: string
                    example: null
                  error_file_id:
                    type: string
                    example: null
                  created_at:
                    type: integer
                    example: 1741685413
                  in_progress_at:
                    type: integer
                    example: null
                  expires_at:
                    type: integer
                    example: 1741771813
                  finalizing_at:
                    type: integer
                    example: null
                  completed_at:
                    type: integer
                    example: null
                  failed_at:
                    type: integer
                    example: null
                  expired_at:
                    type: integer
                    example: null
                  cancelling_at:
                    type: integer
                    example: null
                  cancelled_at:
                    type: integer
                    example: null
                  request_counts:
                    type: object
                    example: null
                  metadata:
                    type: object
                    properties:
                      description:
                        type: string
                        example: nightly eval job
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/Overloaded'
        '504':
          $ref: '#/components/responses/Timeout'
      deprecated: false
  /uploads/audio/voice:
    post:
      summary: Upload Voice
      description: >
        Upload user-provided voice style, which can be in base64 encoding or
        file format. Refer to
        (https://docs.siliconflow.cn/capabilities/text-to-speech#2-2)
      operationId: uploadAudioVoice
      parameters: []
      x-codeSamples:
        - lang: python
          label: file
          source: >
            import requests


            url = "https://api.siliconflow.cn/v1/uploads/audio/voice"

            headers = {
                "Authorization": "Bearer YOUR_API_KEY" # 从https://cloud.siliconflow.cn/account/ak获取
            }

            files = {
                "file": open("test.mp3", "rb")  # 参考音频文件
            }

            data = {
                "model": "IndexTeam/IndexTTS-2",  # 模型名称
                "customName": "your-voice-name", # 参考音频名称
                "text": "慢工出细活，再给我两分钟，你马上就能见识到超梦分析的厉害了" # 参考音频的文字内容
            }


            response = requests.post(url, headers=headers, files=files,
            data=data)

            print(response.text)
        - lang: curl
          label: file
          source: |
            curl -X POST "https://api.siliconflow.cn/v1/uploads/audio/voice" \
              -H "Authorization: Bearer YOUR_API_KEY" \
              -F "file=@test.mp3" \
              -F "model=IndexTeam/IndexTTS-2" \
              -F "customName=your-voice-name" \
              -F "text=慢工出细活，再给我两分钟，你马上就能见识到超梦分析的厉害了"
        - lang: javaScript
          label: file
          source: |
            // 使用 FormData 处理文件上传
            const formData = new FormData();

            // 添加文件
            const fileInput = document.querySelector('input[type="file"]');
            const file = fileInput.files[0]; // 或者使用 File API 获取文件
            formData.append('file', file);

            // 添加其他字段
            formData.append('model', 'IndexTeam/IndexTTS-2');
            formData.append('customName', 'your-voice-name');
            formData.append('text', '慢工出细活，再给我两分钟，你马上就能见识到超梦分析的厉害了');

            // 发送请求
            const apiKey = 'YOUR_API_KEY'; // 替换为你的 API Key
            const url = 'https://api.siliconflow.cn/v1/uploads/audio/voice';

            fetch(url, {
                method: 'POST',
                headers: {
                    'Authorization': `Bearer ${apiKey}`
                },
                body: formData
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                console.log('Success:', data);
            })
            .catch(error => {
                console.error('Error:', error);
            });
        - lang: python
          label: audio
          source: >
            import requests

            import json

            import base64


            url = "https://api.siliconflow.cn/v1/uploads/audio/voice"

            headers = {
                "Authorization": "Bearer YOUR_API_KEY" , # 从https://cloud.siliconflow.cn/account/ak获取
                "Content-Type": "application/json"
            }

            data = {
                "model": "IndexTeam/IndexTTS-2", # 模型名称
                "customName": "your-voice-name", # 用户自定义的音频名称
                "audio": "data:audio/mpeg;base64," + base64.b64encode(open("x1.mp3", "rb").read()).decode("utf-8"), # 参考音频的 base64 编码
                "text": "慢工出细活，再给我两分钟，你马上就能见识到超梦分析的厉害了" # 参考音频的文字内容
            }


            response = requests.post(url, headers=headers,
            data=json.dumps(data))

            print(response.text)
        - lang: curl
          label: audio
          source: |
            curl -X POST "https://api.siliconflow.cn/v1/uploads/audio/voice" \
              -H "Authorization: Bearer YOUR_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "model": "IndexTeam/IndexTTS-2",
                "customName": "your-voice-name",
                "audio": "data:audio/mpeg;base64,'$(base64 -i x1.mp3 | tr -d '\n')'",
                "text": "慢工出细活，再给我两分钟，你马上就能见识到超梦分析的厉害了"
              }'
        - lang: javaScript
          label: audio
          source: |
            const fs = require('fs');
            const axios = require('axios'); // 需要先安装: npm install axios

            async function uploadAudio() {
                const url = "https://api.siliconflow.cn/v1/uploads/audio/voice";
                
                // 读取音频文件并转换为base64
                const audioBuffer = fs.readFileSync('x1.mp3');
                const base64Audio = audioBuffer.toString('base64');
                
                const headers = {
                    "Authorization": "Bearer YOUR_API_KEY", // 从https://cloud.siliconflow.cn/account/ak获取
                    "Content-Type": "application/json"
                };
                
                const data = {
                    "model": "IndexTeam/IndexTTS-2", // 模型名称
                    "customName": "your-voice-name", // 用户自定义的音频名称
                    "audio": "data:audio/mpeg;base64," + base64Audio, // 参考音频的 base64 编码
                    "text": "慢工出细活，再给我两分钟，你马上就能见识到超梦分析的厉害了" // 参考音频的文字内容
                };
                
                try {
                    const response = await axios.post(url, data, { headers });
                    console.log(response.data);
                } catch (error) {
                    console.error('Error:', error.response ? error.response.data : error.message);
                }
            }

            uploadAudio();
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                model:
                  type: string
                  example: FunAudioLLM/CosyVoice2-0.5B
                  description: Predefined voice style model name
                customName:
                  type: string
                  example: your-voice-name
                  description: User-defined voice style name
                text:
                  type: string
                  example: 在一无所知中, 梦里的一天结束了，一个新的轮回便会开始
                  description: Corresponding text content for the audio
              required:
                - model
                - customName
                - text
              oneOf:
                - properties:
                    audio:
                      title: Base64 encoding of audio
                      type: string
                      example: data:audio/mpeg;base64,aGVsbG93b3JsZA==
                      description: >-
                        Audio file encoded in base64 with the header format of
                        `data:audio/mpeg;base64`
                - properties:
                    file:
                      title: File upload for audio
                      type: string
                      format: binary
                      example: /path/to/audio.mp3
                      description: File to upload
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  uri:
                    type: string
                    example: speech:your-voice-name:xxx:xxx
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/Overloaded'
        '504':
          $ref: '#/components/responses/Timeout'
      deprecated: false
  /chat/completions:
    post:
      summary: Chat Completions
      operationId: chat-completions
      description: Creates a model response for the given chat conversation.
      tags:
        - Chat Completions
      x-codeSamples:
        - lang: python
          label: Default
          source: |
            from openai import OpenAI

            client = OpenAI(
                api_key="YOUR_API_KEY",
                base_url="https://api.siliconflow.cn/v1"
            )

            response = client.chat.completions.create(
                model="Pro/zai-org/GLM-4.7",
                messages=[
                    {"role": "system", "content": "你是一个有用的助手"},
                    {"role": "user", "content": "你好，请介绍一下你自己"}
                ]
            )
            print(response.choices[0].message.content)
        - lang: curl
          label: Default
          source: |
            curl --request POST \
              --url https://api.siliconflow.cn/v1/chat/completions \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer YOUR_API_KEY" \
              -d '{
                "model": "Pro/zai-org/GLM-4.7",
                "messages": [
                  {"role": "system", "content": "你是一个有用的助手"},
                  {"role": "user", "content": "你好，请介绍一下你自己"}
                ]
              }'
        - lang: javaScript
          label: Default
          source: |
            fetch('https://api.siliconflow.cn/v1/chat/completions', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer YOUR_API_KEY'
              },
              body: JSON.stringify({
                model: 'Pro/zai-org/GLM-4.7',
                messages: [
                  {role: 'system', content: '你是一个有用的助手'},
                  {role: 'user', content: '你好，请介绍一下你自己'}
                ]
              })
            })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.error('Error:', error));
        - lang: python
          label: Streaming
          source: |
            from openai import OpenAI
            client = OpenAI(
                api_key="YOUR_API_KEY",
                base_url="https://api.siliconflow.cn/v1"
            )
            response = client.chat.completions.create(
                model="Pro/zai-org/GLM-4.7",
                messages=[
                    {"role": "system", "content": "你是一个有用的助手"},
                    {"role": "user", "content": "你好，请介绍一下你自己"}
                ],
                stream=True
            )
            print(response.choices[0].message.content)
        - lang: curl
          label: Streaming
          source: |
            curl --request POST \
              --url https://api.siliconflow.cn/v1/chat/completions \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer YOUR_API_KEY" \
              -d '{
                "model": "Pro/zai-org/GLM-4.7",
                "messages": [
                  {"role": "system", "content": "你是一个有用的助手"},
                  {"role": "user", "content": "你好，请介绍一下你自己"}
                ],
                "stream": true
              }'
        - lang: javaScript
          label: Streaming
          source: |
            fetch('https://api.siliconflow.cn/v1/chat/completions', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer YOUR_API_KEY'
              },
              body: JSON.stringify({
                model: 'Pro/zai-org/GLM-4.7',
                messages: [
                  {role: 'system', content: '你是一个有用的助手'},
                  {role: 'user', content: '你好，请介绍一下你自己'}
                ],
                "stream": true,
              })
            })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.error('Error:', error));
        - lang: python
          label: Image input
          source: |
            from openai import OpenAI
            client = OpenAI(
                api_key="YOUR_API_KEY",
                base_url="https://api.siliconflow.cn/v1"
            )
            response = client.chat.completions.create(
              model="zai-org/GLM-4.6V",
              messages=[
                  {
                    "role": "user",
                    "content": [
                      {"type": "text", "text": "What's in this image?"},
                      {
                        "type": "image_url",
                        "image_url": {
                            "url": "https://sf-maas-uat-prod.oss-cn-shanghai.aliyuncs.com/suggestion/lbygavkzjykewmmpnzfutkvedlowunms.png",
                          }
                      },
                    ],
                  }
              ],
              max_tokens=300,
            )
            print(response.choices[0])
        - lang: curl
          label: Image input
          source: |
            curl --location 'https://api.siliconflow.cn/v1/chat/completions' \
            --header 'Content-Type: application/json' \
            --header 'Authorization: Bearer YOUR_API_KEY' \
            --data '{
                "model": "zai-org/GLM-4.6V",
                "messages": [
                  {
                    "role": "user",
                    "content": [
                      {"type": "text", "text": "What'\''s in this image?"},
                      {
                        "type": "image_url",
                        "image_url": {
                            "url": "https://sf-maas-uat-prod.oss-cn-shanghai.aliyuncs.com/suggestion/lbygavkzjykewmmpnzfutkvedlowunms.png"
                        }
                      }
                    ]
                }
                ],
                "temperature": 0.7,
                "max_tokens": 1000
              }'
        - lang: javaScript
          label: Image input
          source: |
            fetch('https://api.siliconflow.cn/v1/chat/completions', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer YOUR_API_KEY'
              },
              body: JSON.stringify({
                model: 'zai-org/GLM-4.6V',
                messages: [
                  {role: 'user', content: 'What'\''s in this image?'},
                  {role: 'image_url', image_url: {url: 'https://sf-maas-uat-prod.oss-cn-shanghai.aliyuncs.com/suggestion/lbygavkzjykewmmpnzfutkvedlowunms.png'}}
                ],
                temperature: 0.7,
                max_tokens: 1000
              })
            })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.error('Error:', error));
        - lang: python
          label: Function
          source: >
            from openai import OpenAI

            client = OpenAI(
                api_key="YOUR_API_KEY",
                base_url="https://api.siliconflow.cn/v1"
            )


            tools = [
              {
                "type": "function",
                "function": {
                  "name": "get_current_weather",
                  "description": "Get the current weather in a given location",
                  "parameters": {
                    "type": "object",
                    "properties": {
                      "location": {
                        "type": "string",
                        "description": "The city and state, e.g. San Francisco, CA",
                      },
                      "unit": {"type": "string", "enum": ["celsius", "fahrenheit"]},
                    },
                    "required": ["location"],
                  },
                }
              }
            ]

            messages = [{"role": "user", "content": "What's the weather like in
            Boston today?"}]

            completion = client.chat.completions.create(
              model="Pro/zai-org/GLM-4.7",
              messages=messages,
              tools=tools,
              tool_choice="auto"
            )


            print(completion)
        - lang: curl
          label: Function
          source: |
            curl --location 'https://api.siliconflow.cn/v1/chat/completions' \
            --header 'Content-Type: application/json' \
            --header 'Authorization: Bearer YOUR_API_KEY' \
            --data '{
              "model": "Pro/zai-org/GLM-4.7",
              "messages": [
                {
                  "role": "user",
                  "content": "What is the weather like in Boston today?"
                }
              ],
              "tools": [
                {
                  "type": "function",
                  "function": {
                    "name": "get_current_weather",
                    "description": "Get the current weather in a given location",
                    "parameters": {
                      "type": "object",
                      "properties": {
                        "location": {
                          "type": "string",
                          "description": "The city and state, e.g. San Francisco, CA"
                        },
                        "unit": {
                          "type": "string",
                          "enum": ["celsius", "fahrenheit"]
                        }
                      },
                      "required": ["location"]
                    }
                  }
                }
              ],
              "tool_choice": "auto"
            }'
        - lang: javaScript
          label: Function
          source: |
            const apiKey = 'YOUR_API_KEY';

            fetch('https://api.siliconflow.cn/v1/chat/completions', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'Authorization': `Bearer ${apiKey}`
              },
              body: JSON.stringify({
                model: "Pro/zai-org/GLM-4.7",
                messages: [
                  {
                    role: "user",
                    content: "What is the weather like in Boston today?"
                  }
                ],
                tools: [
                  {
                    type: "function",
                    function: {
                      name: "get_current_weather",
                      description: "Get the current weather in a given location",
                      parameters: {
                        type: "object",
                        properties: {
                          location: {
                            type: "string",
                            description: "The city and state, e.g. San Francisco, CA"
                          },
                          unit: {
                            type: "string",
                            enum: ["celsius", "fahrenheit"]
                          }
                        },
                        required: ["location"]
                      }
                    }
                  }
                ],
                tool_choice: "auto"
              })
            })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.error('Error:', error));
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/ChatCompletionRequest'
                - $ref: '#/components/schemas/ChatCompletionVLMRequest'
      responses:
        '200':
          description: >-
            The response from the model. The response header contains the
            x-siliconcloud-trace-id field, which serves as a unique identifier
            for tracing requests, facilitating log queries and issue
            troubleshooting.
          headers:
            x-siliconcloud-trace-id:
              description: 请求追踪ID
              schema:
                type: string
            cache-control:
              description: 缓存控制
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChatCompletionResponse'
              examples:
                Default:
                  summary: Default
                  value:
                    id: 019bdaa55225ef854b320e9b838f77ce
                    object: chat.completion
                    created: 1768899826
                    model: Pro/zai-org/GLM-4.7
                    choices:
                      - index: 0
                        message:
                          role: assistant
                          content: 你好！...
                          reasoning_content: ...
                        finish_reason: stop
                    usage:
                      prompt_tokens: 15
                      completion_tokens: 1540
                      total_tokens: 1555
                      completion_tokens_details:
                        reasoning_tokens: 1190
                      prompt_tokens_details:
                        cached_tokens: 0
                      prompt_cache_hit_tokens: 0
                      prompt_cache_miss_tokens: 15
                    system_fingerprint: ''
                Streaming:
                  summary: Streaming
                  value:
                    id: 019bdaabd0514ee04b65607601e48651
                    object: chat.completion.chunk
                    created: 1768900251
                    model: Pro/zai-org/GLM-4.7
                    choices:
                      - index: 0
                        delta:
                          content: ''
                          reasoning_content: null
                          role: assistant
                        finish_reason: null
                    system_fingerprint: ''
                    usage:
                      prompt_tokens: 15
                      completion_tokens: 0
                      total_tokens: 15
                Image input:
                  summary: Image input
                  value:
                    id: 019bda85c39aba6a5fccce598dac8587
                    object: chat.completion
                    created: 1768897758
                    model: zai-org/GLM-4.6V
                    choices:
                      - index: 0
                        message:
                          role: assistant
                          content: ...
                          reasoning_content: ...
                        finish_reason: stop
                    usage:
                      prompt_tokens: 1383
                      completion_tokens: 205
                      total_tokens: 1588
                      completion_tokens_details:
                        reasoning_tokens: 118
                      prompt_tokens_details:
                        cached_tokens: 0
                      prompt_cache_hit_tokens: 0
                      prompt_cache_miss_tokens: 1383
                    system_fingerprint: ''
                Function:
                  summary: Function
                  value:
                    id: 019bda909755f42bd3785e4c1c8117bb
                    object: chat.completion
                    created: 1768898467
                    model: zai-org/GLM-4.6V
                    choices:
                      - index: 0
                        message:
                          role: assistant
                          content: ...
                          reasoning_content: ...
                          tool_calls:
                            - id: 019bda90bb06ea1f88f140889ff0916b
                              type: function
                              function:
                                name: get_current_weather
                                arguments: '{"location": "Boston, MA"}'
                        finish_reason: tool_calls
                    usage:
                      prompt_tokens: 216
                      completion_tokens: 135
                      total_tokens: 351
                      completion_tokens_details:
                        reasoning_tokens: 107
                      prompt_tokens_details:
                        cached_tokens: 0
                      prompt_cache_hit_tokens: 0
                      prompt_cache_miss_tokens: 216
                    system_fingerprint: ''
            text/event-stream:
              schema:
                $ref: '#/components/schemas/ChatCompletionStream'
              examples:
                Default:
                  summary: Default
                  value:
                    id: 019bdaa55225ef854b320e9b838f77ce
                    object: chat.completion
                    created: 1768899826
                    model: Pro/zai-org/GLM-4.7
                    choices:
                      - index: 0
                        message:
                          role: assistant
                          content: 你好！...
                          reasoning_content: ...
                        finish_reason: stop
                    usage:
                      prompt_tokens: 15
                      completion_tokens: 1540
                      total_tokens: 1555
                      completion_tokens_details:
                        reasoning_tokens: 1190
                      prompt_tokens_details:
                        cached_tokens: 0
                      prompt_cache_hit_tokens: 0
                      prompt_cache_miss_tokens: 15
                    system_fingerprint: ''
                Streaming:
                  summary: Streaming
                  value:
                    id: 019bdaabd0514ee04b65607601e48651
                    object: chat.completion.chunk
                    created: 1768900251
                    model: Pro/zai-org/GLM-4.7
                    choices:
                      - index: 0
                        delta:
                          content: ''
                          reasoning_content: null
                          role: assistant
                        finish_reason: null
                    system_fingerprint: ''
                    usage:
                      prompt_tokens: 15
                      completion_tokens: 0
                      total_tokens: 15
                Image input:
                  summary: Image input
                  value:
                    id: 019bda85c39aba6a5fccce598dac8587
                    object: chat.completion
                    created: 1768897758
                    model: zai-org/GLM-4.6V
                    choices:
                      - index: 0
                        message:
                          role: assistant
                          content: ...
                          reasoning_content: ...
                        finish_reason: stop
                    usage:
                      prompt_tokens: 1383
                      completion_tokens: 205
                      total_tokens: 1588
                      completion_tokens_details:
                        reasoning_tokens: 118
                      prompt_tokens_details:
                        cached_tokens: 0
                      prompt_cache_hit_tokens: 0
                      prompt_cache_miss_tokens: 1383
                    system_fingerprint: ''
                Function:
                  summary: Function
                  value:
                    id: 019bda909755f42bd3785e4c1c8117bb
                    object: chat.completion
                    created: 1768898467
                    model: zai-org/GLM-4.6V
                    choices:
                      - index: 0
                        message:
                          role: assistant
                          content: ...
                          reasoning_content: ...
                          tool_calls:
                            - id: 019bda90bb06ea1f88f140889ff0916b
                              type: function
                              function:
                                name: get_current_weather
                                arguments: '{"location": "Boston, MA"}'
                        finish_reason: tool_calls
                    usage:
                      prompt_tokens: 216
                      completion_tokens: 135
                      total_tokens: 351
                      completion_tokens_details:
                        reasoning_tokens: 107
                      prompt_tokens_details:
                        cached_tokens: 0
                      prompt_cache_hit_tokens: 0
                      prompt_cache_miss_tokens: 216
                    system_fingerprint: ''
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/Overloaded'
        '504':
          $ref: '#/components/responses/Timeout'
      deprecated: false
  /embeddings:
    post:
      summary: Create Embeddings
      description: >-
        Converts input content into embedding vectors. Supports text, image
        URL/base64, and mixed lists.
      operationId: createEmbedding
      tags:
        - Embeddings
      x-codeSamples:
        - lang: curl
          label: Single text string
          source: |
            curl -X POST https://api.siliconflow.cn/v1/embeddings \
              -H "Authorization: Bearer $SILICONFLOW_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "input": "Hello, world!",
                "model": "Qwen/Qwen3-VL-Embedding-8B"
              }'
        - lang: curl
          label: Text content object
          source: |
            curl -X POST https://api.siliconflow.cn/v1/embeddings \
              -H "Authorization: Bearer $SILICONFLOW_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "input": {
                  "text": "The quick brown fox"
                },
                "model": "Qwen/Qwen3-VL-Embedding-8B",
                "encoding_format": "float"
              }'
        - lang: curl
          label: Image content
          source: |
            curl -X POST https://api.siliconflow.cn/v1/embeddings \
              -H "Authorization: Bearer $SILICONFLOW_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "input": {
                  "image": "https://example.com/image.jpg"
                },
                "model": "Qwen/Qwen3-VL-Embedding-8B"
              }'
        - lang: curl
          label: Mixed content list
          source: |
            curl -X POST https://api.siliconflow.cn/v1/embeddings \
              -H "Authorization: Bearer $SILICONFLOW_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "input": [
                  "First text",
                  {
                    "text": "Second text"
                  },
                  {
                    "image": "https://example.com/image.jpg"
                  }
                ],
                "model": "Qwen/Qwen3-VL-Embedding-8B",
                "dimensions": 768
              }'
        - lang: curl
          label: Long text handling
          source: |
            curl -X POST https://api.siliconflow.cn/v1/embeddings \
              -H "Authorization: Bearer $SILICONFLOW_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "input": "Very long text content...",
                "model": "Qwen/Qwen3-VL-Embedding-8B",
                "truncate": "right",
                "user": "user_123"
              }'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EmbeddingsRequest'
      responses:
        '200':
          description: >-
            The response from the model. The response header contains the
            x-siliconcloud-trace-id field, which serves as a unique identifier
            for tracing requests, facilitating log queries and issue
            troubleshooting.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmbeddingsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/Overloaded'
        '504':
          $ref: '#/components/responses/Timeout'
      deprecated: false
  /audio/speech:
    post:
      operationId: createSpeech
      tags:
        - Audio
      x-codeSamples:
        - lang: python
          label: Default
          source: >
            import requests


            url = "https://api.siliconflow.cn/v1/audio/speech"


            payload = {
                "model": "fnlp/MOSS-TTSD-v0.5",
                "input": "你站在桥上看风景，看风景的人在楼上看你。明月装饰了你的窗子，你装饰了别人的梦",
                "voice": "fnlp/MOSS-TTSD-v0.5:alex",
                "response_format": "mp3",
                "stream": True
            }


            headers = {
                "Authorization": "Bearer sk-xx",  # 请替换为您的真实 API Key
                "Content-Type": "application/json"
            }


            response = requests.post(url, json=payload, headers=headers,
            stream=True)


            if response.status_code == 200:
                # 将流式响应写入文件
                with open("output.mp3", "wb") as f:
                    for chunk in response.iter_content(chunk_size=1024):
                        if chunk:
                            f.write(chunk)
                print("音频已成功保存为 output.mp3")
            else:
                print(f"请求失败，状态码: {response.status_code}")
                print(f"错误信息: {response.text}")
        - lang: curl
          label: Default
          source: |
            curl --location 'https://api.siliconflow.cn/v1/audio/speech' \
            --header 'Authorization: Bearer sk-xx' \
            --header 'Content-Type: application/json' \
            --data '{
              "model": "fnlp/MOSS-TTSD-v0.5",
              "input": "你站在桥上看风景，看风景的人在楼上看你。明月装饰了你的窗子，你装饰了别人的梦",
              "voice": "fnlp/MOSS-TTSD-v0.5:alex",
              "response_format": "mp3",
              "stream": true
            }'
        - lang: javaScript
          label: Default
          source: |
            const axios = require('axios');
            const fs = require('fs');
            const url = 'https://api.siliconflow.cn/v1/audio/speech';
            const data = {
                model: "fnlp/MOSS-TTSD-v0.5",
                input: "你站在桥上看风景，看风景的人在楼上看你。明月装饰了你的窗子，你装饰了别人的梦",
                voice: "fnlp/MOSS-TTSD-v0.5:alex",
                response_format: "mp3",
                stream: true
            };

            const config = {
                method: 'post',
                url: url,
                headers: {
                    'Authorization': 'Bearer sk-xx', // 请替换为您的真实 API Key
                    'Content-Type': 'application/json'
                },
                data: data,
                responseType: 'stream' // 重要：设置响应类型为流
            };
            axios(config)
                .then(function (response) {
                    // 将流式数据写入文件
                    const writer = fs.createWriteStream('output.mp3');
                    response.data.pipe(writer);

                    writer.on('finish', () => {
                        console.log('音频已成功保存为 output.mp3');
                    });
                    
                    writer.on('error', (err) => {
                        console.error('写入文件时出错:', err);
                    });
                })
                .catch(function (error) {
                    console.error('请求失败:', error.message);
                    if (error.response) {
                        console.error('状态码:', error.response.status);
                    }
                });
      summary: Create Speech
      description: >-
        Generate audio from input text. The data generated by the interface is
        the binary data of the audio, which requires the user to handle it
        themselves.
        Reference:https://docs.siliconflow.cn/capabilities/text-to-speech#5
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/MOSS-TTSD-v0.5'
                - $ref: '#/components/schemas/CosyVoice2-0.5B'
      responses:
        '200':
          description: >-
            Generate audio based on the input text. The data generated by the
            interface is in binary format and requires the user to process it
            themselves.
            Reference:https://docs.siliconflow.cn/capabilities/text-to-speech#5

            The response header contains the x-siliconcloud-trace-id field,
            which serves as a unique identifier for tracing requests,
            facilitating log queries and issue troubleshooting.
          headers:
            Transfer-Encoding:
              schema:
                type: string
              description: chunked
          content:
            application/audio:
              schema:
                type: string
                format: binary
                example: 音频的二进制数据
            audio/wav:
              schema:
                type: string
                format: binary
                example: 音频的二进制数据
            audio/opus:
              schema:
                type: string
                format: binary
                example: 音频的二进制数据
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/Overloaded'
        '504':
          $ref: '#/components/responses/Timeout'
  /audio/voice/list:
    get:
      summary: Get Voice List
      description: Get list of user-defined voice styles
      operationId: audioVoiceList
      tags:
        - Audio
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                description: User-defined voice style list response
                properties:
                  results:
                    type: array
                    description: Predefined voice style list
                    items:
                      type: object
                      properties:
                        model:
                          type: string
                          example: fishaudio/fish-speech-1.4
                          description: Predefined voice style model name
                        customName:
                          type: string
                          example: your-voice-name
                          description: User-defined voice style name
                        text:
                          type: string
                          example: 在一无所知中, 梦里的一天结束了，一个新的轮回便会开始
                          description: Corresponding text content for the audio
                        uri:
                          type: string
                          example: speech:your-voice-name:xxx:xxx
                          description: URI generated after uploading the audio
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/Overloaded'
        '504':
          $ref: '#/components/responses/Timeout'
  /audio/voice/deletions:
    post:
      tags:
        - Audio
      summary: Delete User Voice
      description: Delete user-defined voice style
      operationId: AudioVoiceDeletions
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                uri:
                  type: string
                  example: speech:your-voice-name:xxx:xxxx
                  description: Voice style to be deleted by the user
              required:
                - uri
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/Overloaded'
        '504':
          $ref: '#/components/responses/Timeout'
      deprecated: false
  /audio/transcriptions:
    post:
      summary: Create Audio Transcriptions
      description: Creates an audio transcription.
      operationId: createAudioTranscriptions
      tags:
        - Audio
      x-codeSamples:
        - lang: python
          label: Python
          source: |
            import requests
            url = "https://api.siliconflow.cn/v1/audio/transcriptions"
            file_path = "path/to/your/audio.mp3"
            headers = {
                "Authorization": "Bearer <YOUR_API_KEY>"
            }
            with open(file_path, "rb") as audio_file:
                files = {
                    "file": ("audio.mp3", audio_file),  # 根据文件类型调整 MIME 类型
                    "model": (None, "FunAudioLLM/SenseVoiceSmall")
                }
                response = requests.post(url, headers=headers, files=files)
        - lang: curl
          label: cURL
          source: |
            curl --request POST \
              --url https://api.siliconflow.cn/v1/audio/transcriptions \
              -H "Authorization: Bearer <YOUR_API_KEY>" \
              -F "file=@path/to/your/audio.mp3" \
              -F "model=FunAudioLLM/SenseVoiceSmall"
        - lang: javaScript
          label: javaScript
          source: |
            fetch('https://api.siliconflow.cn/v1/audio/transcriptions', {
              method: 'POST',
              headers: {
                'Authorization': 'Bearer <YOUR_API_KEY>'
              },
              body: JSON.stringify({
                model: 'FunAudioLLM/SenseVoiceSmall',
                file: 'path/to/your/audio.mp3'
              })
            })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.error('Error:', error));
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/AudioRequest'
      responses:
        '200':
          description: >-
            The response from the model. The response header contains the
            x-siliconcloud-trace-id field, which serves as a unique identifier
            for tracing requests, facilitating log queries and issue
            troubleshooting.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AudioResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/Overloaded'
        '504':
          $ref: '#/components/responses/Timeout'
      deprecated: false
  /rerank:
    post:
      summary: Create Rerank
      description: >-
        Reranks documents by relevance to a query. Supports text, image, and
        video content.
      operationId: createRerank
      tags:
        - Rerank
      x-codeSamples:
        - lang: curl
          label: Text query with text documents
          source: |
            curl -X POST https://api.siliconflow.cn/v1/rerank \
              -H "Authorization: Bearer $SILICONFLOW_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "model": "BAAI/bge-reranker-v2-m3",
                "query": "Apple",
                "documents": ["apple", "banana", "fruit", "vegetable"],
                "return_documents": true,
                "top_n": 4
              }'
        - lang: curl
          label: Multimodal query with images
          source: |
            curl -X POST https://api.siliconflow.cn/v1/rerank \
              -H "Authorization: Bearer $SILICONFLOW_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "model": "Qwen/Qwen3-VL-Reranker-8B",
                "query": {
                  "image": "https://example.com/query-image.jpg"
                },
                "documents": [
                  {
                    "image": "https://example.com/doc1.jpg"
                  },
                  "这是一个相关的文本文档..."
                ],
                "max_chunks_per_doc": 512
              }'
        - lang: curl
          label: With instruction (specific models only)
          source: |
            curl -X POST https://api.siliconflow.cn/v1/rerank \
              -H "Authorization: Bearer $SILICONFLOW_API_KEY" \
              -H "Content-Type: application/json" \
              -d '{
                "model": "Qwen/Qwen3-Reranker-8B",
                "query": "找出最相关的技术文档",
                "documents": ["文档1", "文档2", "文档3"],
                "instruction": "优先考虑最新发布的内容",
                "overlap_tokens": 20
              }'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RerankRequest'
      responses:
        '200':
          description: >-
            The response from the model. The response header contains the
            x-siliconcloud-trace-id field, which serves as a unique identifier
            for tracing requests, facilitating log queries and issue
            troubleshooting.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RerankResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/Overloaded'
        '504':
          $ref: '#/components/responses/Timeout'
      deprecated: false
  /images/generations:
    post:
      summary: Image Generation
      operationId: ImageGeneration
      description: >-
        Creates an image response for the given prompt. The URL for the
        generated image is valid for one hour. Please make sure to download and
        store it promptly to avoid any issues due to URL expiration.
      tags:
        - Image
      x-codeSamples:
        - lang: python
          label: T2Image
          source: >
            import requests

            url = "https://api.siliconflow.cn/v1/images/generations"

            payload = {
                "model": "Kwai-Kolors/Kolors",
                "prompt": "an island near sea, with seagulls, moon shining over the sea, light house, boats int he background, fish flying over the sea",
                "image_size": "1024x1024",
                "batch_size": 1,
                "num_inference_steps": 20,
                "guidance_scale": 7.5
            }

            headers = {
                "Authorization": "Bearer YOUR-API-KEY",
                "Content-Type": "application/json"
            }

            response = requests.request("POST", url, json=payload,
            headers=headers)

            print(response.text)
        - lang: curl
          label: T2Image
          source: |
            curl --request POST \
              --url https://api.siliconflow.cn/v1/images/generations \
              --header 'Authorization: Bearer YOUR-API-KEY' \
              --header 'Content-Type: application/json' \
              --data '{
              "model": "Kwai-Kolors/Kolors",
              "prompt": "an island near sea, with seagulls, moon shining over the sea, light house, boats int he background, fish flying over the sea",
              "image_size": "1024x1024",
              "batch_size": 1,
              "num_inference_steps": 20,
              "guidance_scale": 7.5
            }'
        - lang: javaScript
          label: T2Image
          source: |
            const options = {
              method: 'POST',
              headers: {
                Authorization: 'Bearer YOUR-API-KEY',
                'Content-Type': 'application/json'
              },
              body: '{"model":"Kwai-Kolors/Kolors",
              "prompt":"an island near sea, with seagulls, moon shining over the sea, light house, boats int he background, fish flying over the sea",
              "image_size":"1024x1024",
              "batch_size":1,
              "num_inference_steps":20,
              "guidance_scale":7.5
            };

            fetch('https://api.siliconflow.cn/v1/images/generations', options)
              .then(response => response.json())
              .then(response => console.log(response))
              .catch(err => console.error(err));
        - lang: python
          label: I2Image
          source: >
            import requests

            url = "https://api.siliconflow.cn/v1/images/generations"

            payload = {
                "model": "Kwai-Kolors/Kolors",
                "prompt": "an island near sea, with seagulls, moon shining over the sea, light house, boats int he background, fish flying over the sea",
                "image_size": "1024x1024",
                "batch_size": 1,
                "num_inference_steps": 20,
                "guidance_scale": 7.5,
                "image": "https://inews.gtimg.com/om_bt/Os3eJ8u3SgB3Kd-zrRRhgfR5hUvdwcVPKUTNO6O7sZfUwAA/641"
            }

            headers = {
                "Authorization": "Bearer YOUR-API-KEY",
                "Content-Type": "application/json"
            }

            response = requests.request("POST", url, json=payload,
            headers=headers)

            print(response.text)
        - lang: curl
          label: I2Image
          source: |
            curl --request POST \
              --url https://api.siliconflow.cn/v1/images/generations \
              --header 'Authorization: Bearer YOUR-API-KEY' \
              --header 'Content-Type: application/json' \
              --data '{
              "model": "Kwai-Kolors/Kolors",
              "prompt": "an island near sea, with seagulls, moon shining over the sea, light house, boats int he background, fish flying over the sea",
              "image_size": "1024x1024",
              "batch_size": 1,
              "num_inference_steps": 20,
              "guidance_scale": 7.5,
              "image": "https://inews.gtimg.com/om_bt/Os3eJ8u3SgB3Kd-zrRRhgfR5hUvdwcVPKUTNO6O7sZfUwAA/641"
            }'
        - lang: javaScript
          label: I2Image
          source: |
            const options = {
              method: 'POST',
              headers: {
                Authorization: 'Bearer YOUR-API-KEY',
                'Content-Type': 'application/json'
              },
              body: '{"model":"Kwai-Kolors/Kolors",
              "prompt":"an island near sea, with seagulls, moon shining over the sea, light house, boats int he background, fish flying over the sea",
              "image_size":"1024x1024",
              "batch_size":1,
              "num_inference_steps":20,
              "guidance_scale":7.5
              "image":"https://inews.gtimg.com/om_bt/Os3eJ8u3SgB3Kd-zrRRhgfR5hUvdwcVPKUTNO6O7sZfUwAA/641"}'
            };

            fetch('https://api.siliconflow.cn/v1/images/generations', options)
              .then(response => response.json())
              .then(response => console.log(response))
              .catch(err => console.error(err));
        - lang: python
          label: Qwen/Qwen-Image-Edit-2509
          source: >
            import requests


            url = "https://api.siliconflow.cn/v1/images/generations"


            payload = {
                "model": "Qwen/Qwen-Image-Edit-2509",
                "prompt": "an island near sea, with seagulls, moon shining over the sea, light house, boats int he background, fish flying over the sea",
                "num_inference_steps": 20,
                "guidance_scale": 4,
                "image": "https://inews.gtimg.com/om_bt/Os3eJ8u3SgB3Kd-zrRRhgfR5hUvdwcVPKUTNO6O7sZfUwAA/641",
                "image2": "https://inews.gtimg.com/om_bt/Os3eJ8u3SgB3Kd-zrRRhgfR5hUvdwcVPKUTNO6O7sZfUwAA/641",
                "image3": "https://inews.gtimg.com/om_bt/Os3eJ8u3SgB3Kd-zrRRhgfR5hUvdwcVPKUTNO6O7sZfUwAA/641"
            }

            headers = {
                "Authorization": "Bearer YOUR-API-KEY",
                "Content-Type": "application/json"
            }


            response = requests.request("POST", url, json=payload,
            headers=headers)

            print(response.text)
        - lang: curl
          label: Qwen/Qwen-Image-Edit-2509
          source: |
            curl --request POST \
              --url https://api.siliconflow.cn/v1/images/generations \
              --header 'Authorization: Bearer YOUR-API-KEY' \
              --header 'Content-Type: application/json' \
              --data '{
              "model": "Qwen/Qwen-Image-Edit-2509",
              "prompt": "an island near sea, with seagulls, moon shining over the sea, light house, boats int he background, fish flying over the sea",
              "num_inference_steps": 20,
              "guidance_scale": 4,
              "image": "https://inews.gtimg.com/om_bt/Os3eJ8u3SgB3Kd-zrRRhgfR5hUvdwcVPKUTNO6O7sZfUwAA/641",
              "image2": "https://inews.gtimg.com/om_bt/Os3eJ8u3SgB3Kd-zrRRhgfR5hUvdwcVPKUTNO6O7sZfUwAA/641",
              "image3": "https://inews.gtimg.com/om_bt/Os3eJ8u3SgB3Kd-zrRRhgfR5hUvdwcVPKUTNO6O7sZfUwAA/641"
            }'
        - lang: javaScript
          label: Qwen/Qwen-Image-Edit-2509
          source: |
            const options = {
              method: 'POST',
              headers: {
                Authorization: 'Bearer YOUR-API-KEY',
                'Content-Type': 'application/json'
              },
              body: '{"model":"Qwen/Qwen-Image-Edit-2509",
              "prompt":"an island near sea, with seagulls, moon shining over the sea, light house, boats int he background, fish flying over the sea",
              "num_inference_steps":20,
              "guidance_scale":4,
              "image":"https://inews.gtimg.com/om_bt/Os3eJ8u3SgB3Kd-zrRRhgfR5hUvdwcVPKUTNO6O7sZfUwAA/641",
              "image2":"https://inews.gtimg.com/om_bt/Os3eJ8u3SgB3Kd-zrRRhgfR5hUvdwcVPKUTNO6O7sZfUwAA/641",
              "image3":"https://inews.gtimg.com/om_bt/Os3eJ8u3SgB3Kd-zrRRhgfR5hUvdwcVPKUTNO6O7sZfUwAA/641"}'
            };

            fetch('https://api.siliconflow.cn/v1/images/generations', options)
              .then(response => response.json())
              .then(response => console.log(response))
              .catch(err => console.error(err));
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/Kolors'
      responses:
        '200':
          description: >-
            The response from the model. The response header contains the
            x-siliconcloud-trace-id field, which serves as a unique identifier
            for tracing requests, facilitating log queries and issue
            troubleshooting.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImagesGenerationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/Overloaded'
        '504':
          $ref: '#/components/responses/Timeout'
      deprecated: false
  /video/submit:
    post:
      summary: Submit video
      description: >-
        Generate a video through the input prompt. This API returns the user's
        current request ID. The user needs to poll the status interface to get
        the specific video link. The generated result is valid for 10 minutes,
        so please retrieve the video link promptly.
      tags:
        - Video
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/I2V'
      responses:
        '200':
          description: >-
            The response from the model. The response header contains the
            x-siliconcloud-trace-id field, which serves as a unique identifier
            for tracing requests, facilitating log queries and issue
            troubleshooting.
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestId:
                    type: string
                    description: >-
                      The requestId generated by this request needs to be used
                      when calling the status interface.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/Overloaded'
        '504':
          $ref: '#/components/responses/Timeout'
  /video/status:
    post:
      summary: get video
      description: >-
        Get the user-generated video. The URL for the generated video is valid
        for one hour. Please make sure to download and store it promptly to
        avoid any issues due to URL expiration.
      tags:
        - video
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/getVideosRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/getVideosResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/Overloaded'
        '504':
          $ref: '#/components/responses/Timeout'
      deprecated: false
  /messages:
    post:
      summary: Chat Completions
      operationId: chat-completions
      description: Creates a model response for the given chat conversation.
      tags:
        - messages
      security:
        - bearerAuth: []
        - apiKey: []
      x-codeSamples:
        - lang: python
          label: Default
          source: |
            import requests
            url = "https://api.siliconflow.cn/v1/messages"
            payload = {
                "model": "Pro/zai-org/GLM-4.7",
                "messages": [
                    {
                        "role": "user",
                        "content": "What opportunities and challenges will the Chinese large model industry face in 2025?"
                    }
                ]
            }
            headers = {
                "Authorization": "Bearer <token>",
                "Content-Type": "application/json"
            }

            response = requests.post(url, json=payload, headers=headers)
            print(response.text)
        - lang: curl
          label: Default
          source: |
            curl --request POST \
              --url https://api.siliconflow.cn/v1/messages \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer YOUR_API_KEY" \
              -d '{
                "model": "Pro/zai-org/GLM-4.7",
                "messages": [
                  {"role": "system", "content": "你是一个有用的助手"},
                  {"role": "user", "content": "你好，请介绍一下你自己"}
                ]
              }'
        - lang: javaScript
          label: Default
          source: |
            fetch('https://api.siliconflow.cn/v1/messages', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer YOUR_API_KEY'
              },
              body: JSON.stringify({
                model: 'Pro/zai-org/GLM-4.7',
                messages: [
                  {role: 'system', content: '你是一个有用的助手'},
                  {role: 'user', content: '你好，请介绍一下你自己'}
                ]
              })
            })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.error('Error:', error));
        - lang: python
          label: Streaming
          source: |
            import requests
            url = "https://api.siliconflow.cn/v1/messages"
            payload = {
                "model": "Pro/zai-org/GLM-4.7",
                "messages": [
                    {
                        "role": "user",
                        "content": "What opportunities and challenges will the Chinese large model industry face in 2025?"
                    }
                ],
                "stream": True
            }
            headers = {
                "Authorization": "Bearer YOUR_API_KEY",
                "Content-Type": "application/json"
            }

            response = requests.post(url, json=payload, headers=headers)
            print(response.text)
        - lang: curl
          label: Streaming
          source: |
            curl --request POST \
              --url https://api.siliconflow.cn/v1/messages \
              -H "Content-Type: application/json" \
              -H "Authorization: Bearer YOUR_API_KEY" \
              -d '{
                "model": "Pro/zai-org/GLM-4.7",
                "messages": [
                  {"role": "system", "content": "你是一个有用的助手"},
                  {"role": "user", "content": "你好，请介绍一下你自己"}
                ],
                "stream": true
              }'
        - lang: javaScript
          label: Streaming
          source: |
            fetch('https://api.siliconflow.cn/v1/messages', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
                'Authorization': 'Bearer YOUR_API_KEY'
              },
              body: JSON.stringify({
                model: 'Pro/zai-org/GLM-4.7',
                messages: [
                  {role: 'system', content: '你是一个有用的助手'},
                  {role: 'user', content: '你好，请介绍一下你自己'}
                ],
                stream: true
              })
            })
            .then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.error('Error:', error));
        - lang: python
          label: Function
          source: |
            import requests
            url = "https://api.siliconflow.cn/v1/messages"
            payload = {
              "model": "Pro/zai-org/GLM-4.7",
              "tools": [
                {
                "name": "get_weather",
                "description": "Get the current weather in a given location",
                "input_schema": {
                  "type": "object",
                  "properties": {
                  "location": {
                      "type": "string",
                      "description": "The city and state, e.g. San Francisco, CA"
                  }
                  },
                  "required": ["location"]
                }
                }
              ],
              "tool_choice": {"type": "any"},
              "messages": [
                {
                "role": "user",
                "content": "What is the weather like in San Francisco?"
                }
              ]
            }
            headers = {
                "Authorization": "Bearer YOUR_API_KEY",
                "Content-Type": "application/json"
            }

            response = requests.post(url, json=payload, headers=headers)
            print(response.text)
        - lang: curl
          label: Function
          source: |
            curl --location 'https://api.siliconflow.cn/v1/messages' \
            --header 'x-api-key: YOUR_API_KEY' \
            --header 'content-type: application/json' \
            --data '{
              "model": "Pro/zai-org/GLM-4.7",
              "tools": [
                {
                "name": "get_weather",
                "description": "Get the current weather in a given location",
                "input_schema": {
                  "type": "object",
                  "properties": {
                  "location": {
                      "type": "string",
                      "description": "The city and state, e.g. San Francisco, CA"
                  }
                  },
                  "required": ["location"]
                }
                }
              ],
              "tool_choice": {"type": "any"},
              "messages": [
                {
                "role": "user",
                "content": "What is the weather like in San Francisco?"
                }
              ]
            }'
        - lang: javaScript
          label: Function
          source: |
            const url = 'https://api.siliconflow.cn/v1/messages';
            const apiKey = 'YOUR_API_KEY';
            const requestData = {
              model: "Pro/zai-org/GLM-4.7",
              tools: [
                {
                  name: "get_weather",
                  description: "Get the current weather in a given location",
                  input_schema: {
                    type: "object",
                    properties: {
                      location: {
                        type: "string",
                        description: "The city and state, e.g. San Francisco, CA"
                      }
                    },
                    required: ["location"]
                  }
                }
              ],
              tool_choice: { type: "any" },
              messages: [
                {
                  role: "user",
                  content: "What is the weather like in San Francisco?"
                }
              ]
            };
            fetch(url, {
              method: 'POST',
              headers: {
                'x-api-key': apiKey,
                'content-type': 'application/json'
              },
              body: JSON.stringify(requestData)
            })
              .then(response => {
                if (!response.ok) {
                  throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
              })
              .then(data => {
                console.log('Response:', data);
              })
              .catch(error => {
                console.error('Error:', error);
              });
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/ChatMessagesRequest'
      responses:
        '200':
          description: >-
            The response from the model. The response header contains the
            x-siliconcloud-trace-id field, which serves as a unique identifier
            for tracing requests, facilitating log queries and issue
            troubleshooting.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessgesResponse'
              examples:
                Default:
                  summary: Default
                  value:
                    content:
                      - type: thinking
                        thinking: ...
                        signature: tvshsltrjs
                      - text: >-
                          Hello! I'm GLM, trained by Z.ai. How can I assist you
                          today? Whether you have questions or just want to
                          chat, I'm happy to help.
                        type: text
                    id: msg_T15jjp718fACotrwiLp3KwVu
                    model: Pro/zai-org/GLM-4.7
                    role: assistant
                    stop_reason: end_turn
                    stop_sequence: null
                    type: message
                    usage:
                      input_tokens: 6
                      output_tokens: 215
                Streaming:
                  summary: Streaming
                  value:
                    type: message_start
                    message:
                      id: msg_4KGg2neRMOYFEcYKQgxXX2SL
                      type: message
                      role: assistant
                      content: []
                      model: Pro/zai-org/GLM-4.7
                      stop_reason: null
                      stop_sequence: null
                      usage:
                        input_tokens: 6
                Function:
                  summary: Function
                  value:
                    content:
                      - type: thinking
                        thinking: ...
                        signature: dpbqrjrqjg
                      - text: >-
                          I'll get the current weather information for San
                          Francisco for you.
                        type: text
                      - type: tool_use
                        id: 019bdb1ed691c01625ab101a1727c885
                        name: get_weather
                        input:
                          location: San Francisco, CA
                    id: msg_DmXOAAqRwzLuLGAkVb2KKFlL
                    model: Pro/zai-org/GLM-4.7
                    role: assistant
                    stop_reason: tool_use
                    stop_sequence: null
                    type: message
                    usage:
                      input_tokens: 190
                      output_tokens: 134
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/RateLimit'
        '503':
          $ref: '#/components/responses/Overloaded'
        '504':
          $ref: '#/components/responses/Timeout'
      deprecated: false
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: >-
        Use the following format for authentication: [<your api
        key>](https://cloud.siliconflow.cn/account/ak)
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: your api key
      description: >-
        Use the following format for authentication: Bearer [<your api
        key>](https://cloud.siliconflow.cn/account/ak)
  responses:
    BadRequest:
      description: BadRequest
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/BadRquestData'
    Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnauthorizedData'
    Forbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ForbiddenData'
    NotFound:
      description: NotFound
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/NotFoundData'
    RateLimit:
      description: RateLimit
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RateLimitData'
    Overloaded:
      description: Overloaded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/OverloadedtData'
    Timeout:
      description: Timeout
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TimeoutData'
  schemas:
    EmbeddingsRequest:
      description: >
        Compatible with two request formats:

        - Classic Embedding: keeps the historical parameter definition

        - VL Embedding: supports mixed text/image input, plus `user` and
        `truncate`


        Note: OpenAPI cannot automatically route schemas based on `model`.
        Choose parameters according to model capabilities.
      anyOf:
        - $ref: '#/components/schemas/EmbeddingsClassicRequest'
        - $ref: '#/components/schemas/EmbeddingsVLRequest'
    EmbeddingsClassicRequest:
      title: EmbeddingsClassicRequest
      type: object
      required:
        - model
        - input
      properties:
        model:
          type: string
          description: >-
            Corresponding Model Name. To better enhance service quality, we will
            make periodic changes to the models provided by this service,
            including but not limited to model on/offlining and adjustments to
            model service capabilities. We will notify you of such changes
            through appropriate means such as announcements or message pushes
            where feasible.  **For a complete list of available models, please
[...]
